<a href="https://colab.research.google.com/github/DOOryUniverse/UBION-Big-data-analyst-study/blob/main/%EB%84%A4%EC%9D%B4%EB%B2%84_%EA%B1%B0%EB%9E%98%EC%86%8C%EC%97%90%EC%84%9C_%EC%A3%BC%EA%B0%80_%EC%A0%95%EB%B3%B4_%EC%8A%A4%ED%81%AC%EB%9E%98%ED%95%91.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# PyKrx 네이버/거래소에서 스크래핑

In [ ]:
pip install pykrx

Collecting pykrx
  Downloading pykrx-1.0.32-py3-none-any.whl (92 kB)
     |████████████████████████████████| 92 kB 382 kB/s
Collecting deprecated
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pykrx) (1.21.5)
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (from pykrx) (1.1.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pykrx) (1.3.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pykrx) (2.23.0)
Collecting datetime
  Downloading DateTime-4.4-py2.py3-none-any.whl (51 kB)
     |████████████████████████████████| 51 kB 388 kB/s
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from datetime->pykrx) (2018.9)
Collecting zope.interface
  Downloading zope.interface-5.4.0-cp37-cp37m-manylinux2010_x86_64.whl (251 kB)
     |████████████████████████████████| 251 kB 45.4 MB/s
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.7/dist-packages (from deprecated->pykrx) (1.13.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pykrx) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pykrx) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pykrx) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pykrx) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pykrx) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pykrx) (2021.10.8)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from zope.interface->datetime->pykrx) (57.4.0)
Installing collected packages: zope.interface, deprecated, datetime, pykrx
Successfully installed datetime-4.4 deprecated-1.2.13 pykrx-1.0.32 zope.interface-5.4.0

In [ ]:
# MarketData API :  코스피 종목의 주가 관련 정보를 얻는 API
# get_market_ticker_list 메서드는 지정한 일자(YYYYMMDD)의 코스피 시장에 상장된 ticker를 리스트로 반환
# 날짜를 지정하지 않으면 내부적으로 최근 영업일을 계산해서 ticker 반환
from pykrx import stock
tickers = stock.get_market_ticker_list("20210701")
print(tickers)

['095570', '006840', '027410', '282330', '138930', '001460', '001465', '001040', '079160', '00104K', '000120', '011150', '011155', '001045', '097950', '097955', '000590', '012030', '016610', '005830', '000990', '000995', '139130', '001530', '000210', '001880', '000215', '375500', '37550K', '004840', '155660', '069730', '017940', '365550', '383220', '007700', '114090', '078930', '006360', '001250', '007070', '078935', '012630', '039570', '089470', '294870', '011200', '082740', '003560', '175330', '234080', '001060', '001067', '001065', '096760', '105560', '002380', '009070', '009440', '119650', '092220', '016380', '016385', '001390', '033180', '001940', '025000', '092230', '000040', '044450', '030200', '033780', '030210', '058850', '058860', '093050', '003550', '034220', '001120', '051900', '051905', '003555', '032640', '011070', '066570', '066575', '108670', '108675', '037560', '051910', '051915', '079550', '006260', '010120', '000680', '229640', '383800', '38380K', '023150', '035420', '181710', '005940', '005945', '338100', '034310', '008260', '004250', '004255', '010060', '005490', '010950', '010955', '034120', '101060', '005090', '001380', '004060', '002360', '009160', '123700', '025530', '034730', '011790', '018670', '001740', '001745', '006120', '006125', '210980', '068400', '302440', '326030', '361610', '03473K', '096770', '096775', '001510', '001515', '285130', '28513K', '017670', '000660', '064960', '100840', '003570', '036530', '005610', '011810', '077970', '071970', '002820', '084870', '002710', '002900', '024070', '037270', '000500', '000860', '035250', '011420', '002100', '009450', '267290', '012320', '000050', '214390', '012610', '009140', '013580', '012200', '012205', '002140', '010130', '002240', '009290', '017040', '017900', '037710', '030610', '339770', '007690', '005320', '001140', '002720', '083420', '014530', '014280', '014285', '008870', '001570', '002990', '002995', '011780', '011785', '214330', '001210', '073240', '092440', '000270', '024110', '013700', '004540', '004545', '001260', '008350', '008355', '004270', '003920', '003925', '025860', '005720', '005725', '002350', '002355', '003580', '251270', '090350', '090355', '000320', '000325', '006280', '005250', '005257', '004370', '072710', '058730', '023590', '019680', '019685', '006370', '008060', '00806K', '353200', '35320K', '000490', '008110', '005750', '006570', '001680', '001685', '084690', '084695', '128820', '117580', '016710', '003540', '003547', '003545', '009190', '014160', '047040', '009320', '042660', '003090', '069620', '000430', '006340', '006345', '003220', '024890', '002880', '000300', '012800', '015230', '001070', '006650', '001440', '084010', '001790', '001795', '001130', '003490', '003495', '005880', '003830', '016090', '069460', '192080', '012510', '004830', '004835', '024900', '145720', '002150', '001230', '023450', '004140', '007590', '005960', '005965', '026960', '002210', '102260', '000640', '170900', '028100', '282690', '001520', '001527', '001529', '084670', '082640', '001525', '008970', '092780', '049770', '018500', '006040', '030720', '014820', '014825', '163560', '004890', '002690', '000020', '000150', '000157', '241560', '000155', '042670', '034020', '336260', '33626K', '33626L', '016740', '192650', '024090', '003160', '092200', '013570', '210540', '007340', '026890', '115390', '032350', '330590', '000400', '023530', '004000', '286940', '280360', '004990', '00499K', '005300', '005305', '011170', '002270', '071840', '027740', '204320', '001080', '088980', '094800', '138040', '008560', '000060', '090370', '017180', '009900', '012690', '005360', '204210', '009680', '009580', '009200', '033920', '008420', '025560', '007120', '357250', '085620', '006800', '00680K', '006805', '002840', '268280', '107590', '134380', '003650', '155900', '003610', '001340', '035150', '002410', '096300', '007210', '002760', '003850', '000890', '003000', '001270', '001275', '026940', '015350', '011390', '005030', '002070', '100220', '030790', '005180', '003960', '008040', '007160', '014710', '006090', '001470', '006400', '006405', '006660', '028260', '02826K', '207940', '032830', '018260', '028050', '009150', '009155', '005930', '005935', '001360', '010140', '010145', '016360', '068290', '029780', '000810', '000815', '006110', '145990', '145995', '003230', '002170', '272550', '000070', '000075', '002810', '005680', '003720', '023000', '004380', '002450', '004440', '000520', '009770', '005500', '004690', '010960', '004450', '009470', '011230', '001820', '000390', '001290', '041650', '075180', '007540', '248170', '007860', '200880', '017390', '004410', '004415', '021050', '008490', '007610', '136490', '014910', '014915', '003080', '004980', '004985', '011300', '000180', '002420', '004360', '004365', '004490', '001430', '306200', '003030', '019440', '058650', '013000', '091090', '021820', '067830', '033530', '075580', '027970', '145210', '308170', '012600', '068270', '336370', '33637K', '33637L', '248070', '004430', '017550', '053210', '134790', '016590', '029530', '004970', '011930', '005390', '004170', '035510', '034300', '031430', '031440', '006880', '005800', '001720', '001725', '009270', '009275', '002700', '019170', '019175', '002870', '293940', '055550', '001770', '004080', '102280', '003410', '003620', '004770', '015540', '004920', '112610', '008700', '002790', '00279K', '002795', '090430', '090435', '002030', '183190', '002310', '012170', '267850', '020560', '122900', '010780', '001780', '018250', '161000', '011090', '005850', '012750', '023960', '298690', '140910', '078520', '015260', '007460', '003060', '244920', '036570', '138250', '380440', '085310', '009810', '900140', '014440', '111770', '009970', '003520', '000670', '006740', '012280', '012160', '015360', '007310', '002630', '271560', '001800', '070960', '316140', '033660', '118000', '010050', '006980', '017370', '105840', '010400', '049800', '016880', '095720', '005820', '010600', '008600', '033270', '014830', '000910', '047400', '011330', '077500', '002920', '000700', '003470', '003475', '011690', '072130', '000220', '000225', '000227', '001200', '000100', '000105', '003460', '003465', '008730', '008250', '025820', '214320', '088260', '139480', '007660', '005950', '015020', '093230', '074610', '102460', '084680', '350520', '334890', '000760', '014990', '101140', '006490', '023800', '034590', '129260', '023810', '249420', '000230', '013360', '003120', '003200', '007110', '007570', '007575', '008500', '081000', '020760', '020150', '103590', '015860', '226320', '317400', '033240', '000950', '348950', '194370', '025620', '036420', '030000', '271980', '001560', '002620', '006220', '089590', '004910', '004700', '001550', '000480', '120030', '018470', '002600', '185750', '063160', '001630', '044380', '013890', '013870', '071320', '010580', '035000', '088790', '003780', '010640', '100250', '051630', '272450', '011000', '002780', '002787', '002785', '009310', '000650', '033250', '035720', '006380', '109070', '001620', '029460', '344820', '281820', '145270', '357120', '007815', '007810', '00781K', '003690', '192820', '044820', '005070', '005420', '071950', '002020', '003070', '003075', '144620', '002025', '120110', '120115', '138490', '021240', '031820', '192400', '284740', '015590', '264900', '26490K', '005740', '005745', '020120', '039490', '014580', '015890', '006890', '003240', '011280', '004100', '004105', '009410', '009415', '001420', '007980', '055490', '078000', '214420', '019180', '363280', '36328K', '091810', '004870', '005690', '036580', '004720', '028670', '010820', '016800', '001020', '090080', '010770', '058430', '047050', '003670', '007630', '017810', '103140', '005810', '950210', '086790', '293480', '039130', '172580', '153360', '352820', '071090', '019490', '000080', '000087', '000140', '000145', '152550', '036460', '005430', '071050', '071055', '010040', '025540', '004090', '002200', '002960', '000240', '123890', '015760', '006200', '009540', '023350', '025890', '000970', '104700', '017960', '161890', '024720', '161390', '034830', '007280', '168490', '010100', '047810', '123690', '003350', '011500', '002390', '014790', '060980', '053690', '042700', '008930', '128940', '009240', '020000', '003680', '105630', '069640', '016450', '010420', '009180', '213500', '014680', '004710', '004150', '025750', '004960', '011700', '001750', '001755', '018880', '009420', '014130', '300720', '002220', '006390', '003300', '051600', '052690', '130660', '002320', '097230', '003480', '180640', '18064K', '005110', '009460', '000880', '00088K', '088350', '000370', '009830', '009835', '272210', '012450', '000885', '003530', '003535', '195870', '101530', '143210', '000720', '267270', '000725', '005440', '086280', '064350', '079430', '012330', '010620', '069960', '004560', '004565', '004310', '322000', '017800', '307950', '011210', '267260', '004020', '267250', '005380', '005387', '005389', '005385', '001500', '011760', '227840', '126560', '001450', '057050', '093240', '003010', '111110', '008770', '008775', '002460', '378850', '241590', '006060', '013520', '010690', '133820', '010660', '000850', '016580', '032560', '004800', '094280', '298040', '298050', '298020', '298000', '093370', '081660', '005870', '079980', '005010', '069260', '000540', '000547', '000545', '003280']

In [ ]:
# market 옵션을 추가하면 조회 시장을 지정 가능
# KOSPI, KOSDAQ, KONEX 시장을 지정
tickers = stock.get_market_ticker_list("20210701", market="KOSDAQ")
print(tickers)

['060310', '054620', '265520', '211270', '013720', '035760', '051500', '058820', '023460', '056000', '065770', '083660', '367340', '367360', '068790', '241520', '245620', '037370', '079190', '050120', '130500', '900290', '083450', '028150', '045890', '078150', '036640', '335870', '351340', '351320', '373200', '095340', '099520', '950170', '067290', '035900', '024840', '024120', '021320', '036670', '044180', '151860', '046440', '035600', '226360', '111870', '060720', '122450', '052900', '058400', '114450', '036030', '060370', '065150', '160550', '053290', '104200', '060250', '030190', '078590', '178920', '024940', '218410', '327260', '091340', '019550', '950110', '046140', '036120', '099220', '036540', '255220', '040610', '049470', '184230', '016250', '307070', '337450', '340350', '036490', '048550', '063440', '950180', '289080', '089230', '161570', '192410', '032540', '048770', '246690', '317240', '038340', '073570', '057030', '040300', '051390', '052220', '079940', '078890', '036620', '217730', '114190', '094480', '063080', '039240', '053950', '223310', '011040', '024910', '198440', '049720', '014570', '348150', '098460', '035290', '038530', '900280', '215000', '121440', '014200', '026910', '090150', '355150', '331520', '053270', '066620', '043650', '006050', '060480', '078130', '307750', '204020', '186230', '900070', '204620', '019660', '053260', '036190', '049080', '035460', '308100', '187790', '286750', '151910', '121600', '247660', '039860', '091970', '051490', '190510', '242040', '089600', '293580', '138610', '130580', '036800', '267320', '111710', '091590', '168330', '094860', '253590', '212560', '095660', '042420', '950220', '311390', '085910', '092730', '290660', '306620', '153460', '007390', '033640', '330860', '089140', '065170', '137940', '348210', '041140', '217270', '225570', '104620', '194700', '285490', '278650', '144510', '031390', '142280', '234690', '065560', '054050', '069140', '040160', '126870', '060260', '012340', '214870', '270870', '144960', '085670', '119860', '064260', '093640', '039560', '032190', '068240', '020400', '008830', '048470', '004780', '017650', '007720', '317850', '290670', '078140', '036480', '025440', '027830', '104040', '332290', '336570', '369370', '020180', '045390', '108380', '006580', '007680', '048910', '005710', '290380', '290120', '120240', '003310', '078600', '096350', '140520', '131220', '010170', '060900', '054670', '023910', '021040', '021045', '067080', '298540', '299170', '213420', '317330', '077360', '090410', '263600', '194480', '263800', '206560', '261200', '067990', '006620', '100130', '005160', '075970', '086450', '099410', '033500', '025950', '088130', '041930', '060380', '079960', '228340', '088910', '094170', '013120', '109860', '032960', '023790', '005290', '025900', '073190', '030350', '203650', '223250', '060570', '217620', '187870', '066670', '110990', '263690', '214680', '263720', '109740', '033430', '131030', '196490', '066900', '127120', '092070', '134580', '039840', '104460', '079810', '227100', '113810', '043360', '197140', '106520', '068930', '033130', '105740', '263020', '290550', '187220', '131180', '317120', '042510', '232680', '300120', '171120', '069540', '347700', '214260', '171010', '084650', '217500', '033600', '141080', '060300', '038390', '294140', '228670', '228850', '281740', '277810', '215100', '090360', '108490', '900260', '067730', '071280', '038060', '085370', '08537M', '060240', '058470', '039980', '019570', '016100', '012700', '302550', '029480', '277070', '042500', '219420', '195500', '222810', '305090', '098120', '147760', '038290', '220630', '267980', '005990', '127160', '093520', '141070', '100590', '067280', '072870', '215200', '133750', '235980', '041920', '014100', '054180', '086900', '078160', '065650', '021880', '140410', '241770', '059210', '058110', '096640', '257370', '080420', '080160', '100030', '087260', '101330', '012860', '348030', '250060', '033200', '118990', '006920', '001810', '279600', '095500', '218150', '353490', '328380', '100790', '049950', '213090', '207760', '059090', '214610', '201490', '950190', '214180', '206640', '018700', '035620', '064520', '053030', '301300', '064550', '314930', '208710', '142760', '086820', '038460', '086040', '032980', '043150', '323990', '267790', '046310', '066410', '206400', '019010', '177350', '299910', '225530', '250000', '006910', '226340', '014470', '008470', '338220', '100120', '337930', '064480', '288330', '251630', '018290', '044480', '033560', '126340', '121800', '148140', '082800', '318410', '200780', '141000', '090460', '083650', '086670', '335890', '138580', '082920', '054220', '042370', '032850', '238200', '093190', '065450', '072950', '143240', '100090', '122350', '014970', '018310', '053700', '009620', '023600', '380320', '291230', '377630', '009300', '225190', '361670', '054540', '065570', '032280', '002290', '037460', '032750', '054090', '000250', '024950', '038500', '017480', '046390', '027580', '038540', '307870', '329560', '101000', '091580', '263810', '089980', '042940', '042600', '252990', '263540', '294630', '038070', '006730', '079650', '100660', '019770', '043710', '092190', '046890', '063170', '027040', '018680', '093920', '189860', '178320', '122690', '140070', '011370', '065710', '035890', '357550', '003100', '123420', '171090', '086710', '014620', '037350', '081580', '045300', '015750', '080470', '043260', '148150', '053060', '017510', '011560', '100700', '234100', '024830', '258830', '036630', '039310', '067770', '053450', '234340', '252500', '347000', '051980', '331920', '049180', '299660', '268600', '108860', '208370', '068760', '091990', '290690', '053110', '950200', '032680', '032685', '258790', '066910', '043100', '154040', '035610', '357780', '036830', '304100', '086980', '050960', '084180', '253840', '058530', '236200', '317770', '094840', '192440', '099440', '033790', '131100', '159910', '158310', '115570', '253450', '204630', '013810', '039670', '049830', '020710', '033170', '048870', '025320', '269620', '131090', '139050', '290520', '001000', '025870', '215600', '065350', '002800', '323280', '344050', '017000', '012790', '138070', '226330', '333050', '366330', '056700', '187270', '243840', '108320', '222800', '036710', '160980', '356890', '217330', '010280', '208640', '222420', '037760', '136510', '099320', '049960', '050890', '066790', '222080', '352480', '264660', '352700', '056730', '297090', '115530', '225330', '115480', '189330', '096530', '900120', '101240', '060590', '260930', '013990', '123860', '025980', '050320', '058220', '125210', '357580', '052710', '074430', '092040', '083930', '149950', '036010', '050860', '246720', '067390', '127710', '154030', '227610', '143160', '054800', '332370', '339950', '099190', '289010', '214430', '040910', '068940', '052860', '069920', '038880', '307180', '101390', '078860', '114810', '031310', '185490', '059100', '262840', '175250', '052460', '119830', '052770', '124500', '084850', '027360', '032080', '013310', '059120', '158430', '067160', '001540', '053800', '065660', '297570', '260660', '131370', '140670', '096610', '061040', '148250', '347860', '196170', '123750', '085810', '117670', '291650', '293780', '196300', '310200', '900100', '205500', '052790', '290740', '238090', '092600', '129890', '174900', '255440', '030960', '102120', '238120', '019990', '038680', '217480', '121890', '097780', '042110', '298060', '065420', '103230', '101490', '095910', '275630', '031330', '060540', '056190', '080000', '214310', '041510', '007820', '109610', '306040', '080440', '096630', '069510', '041910', '234300', '039440', '098660', '052020', '237690', '050760', '288620', '317830', '058610', '043340', '187660', '054630', '200710', '096690', '298380', '195990', '003800', '088800', '241840', '138360', '039230', '312610', '072990', '176440', '028300', '067630', '047920', '043220', '239610', '353070', '353060', '044780', '357230', '071670', '045660', '224110', '230980', '021080', '089530', '200470', '262260', '109960', '089970', '230240', '064510', '230360', '038870', '128540', '086520', '247540', '383310', '038110', '073540', '064850', '064090', '036810', '173940', '083500', '054940', '950130', '205100', '070300', '092870', '317870', '067570', '236810', '333620', '101400', '217820', '031860', '310840', '353190', '359090', '365590', '265740', '354200', '208860', '183490', '182400', '069410', '227950', '198080', '048830', '096870', '376190', '061970', '138690', '290650', '066970', '156100', '073110', '083310', '297890', '037950', '170920', '058630', '019590', '169330', '097520', '179290', '009780', '123040', '323230', '032790', '033160', '347890', '033310', '259630', '115960', '090740', '060850', '007530', '143540', '036560', '265560', '036000', '250930', '053280', '122640', '900300', '045060', '080520', '039830', '322310', '046120', '014940', '065500', '010470', '053980', '052420', '241790', '039200', '226400', '031510', '048260', '138080', '080580', '067170', '173130', '049480', '309930', '244460', '226950', '057540', '082210', '109080', '153710', '321820', '122990', '232140', '065530', '067900', '155650', '251370', '066430', '193250', '273060', '019210', '122870', '332570', '079000', '032820', '041190', '115440', '046970', '082850', '215360', '072470', '073560', '153490', '037400', '101170', '066590', '103840', '046940', '215380', '065680', '018620', '307280', '053080', '032940', '240810', '074600', '104830', '014190', '131390', '030530', '012620', '008370', '008290', '101160', '095270', '065950', '076080', '196700', '069080', '053580', '071460', '044340', '330350', '348350', '112040', '101730', '065370', '038620', '299900', '036090', '136540', '320000', '097800', '192390', '313760', '900340', '036200', '018000', '203450', '011320', '086390', '241690', '142210', '048430', '206650', '089850', '032620', '264450', '078070', '024800', '054930', '069330', '049520', '313750', '336060', '340360', '367460', '367480', '056090', '263770', '340930', '023410', '056080', '321260', '331380', '373340', '084370', '178780', '179900', '263050', '191410', '072770', '039020', '060230', '067920', '044960', '303530', '302430', '073490', '086250', '215790', '246960', '088390', '272290', '053350', '258610', '215090', '041520', '264850', '054210', '164060', '065440', '115610', '349720', '323210', '078020', '131400', '351330', '080010', '086890', '047560', '900110', '067010', '052190', '101360', '102710', '066980', '063760', '087730', '123570', '083470', '095190', '091120', '039030', '294090', '088290', '181340', '353810', '099750', '035810', '160600', '092130', '096040', '134060', '001840', '024810', '041830', '352940', '079950', '277410', '060150', '033230', '037330', '083640', '216050', '049070', '119610', '017250', '035080', '051370', '064290', '189300', '150840', '048530', '175140', '115310', '039290', '071200', '016670', '101930', '333430', '068330', '058450', '019540', '094820', '950140', '049550', '254120', '221610', '219550', '043910', '234920', '289220', '174880', '049630', '110020', '208140', '022220', '040420', '045510', '065620', '217190', '095700', '072520', '122310', '361390', '187420', '225220', '123330', '159580', '147830', '033100', '079370', '054950', '090470', '287410', '137950', '033320', '204270', '026040', '126880', '322510', '033050', '094970', '058420', '089790', '052670', '199820', '023440', '038010', '276730', '080220', '216080', '229000', '082270', '064800', '041590', '044060', '034940', '067000', '033340', '036930', '239340', '072020', '000440', '078650', '228760', '314130', '043610', '263860', '303030', '036180', '208350', '114570', '051160', '053050', '119850', '270520', '065060', '204840', '111820', '115450', '219750', '018120', '109820', '086060', '036890', '363250', '007370', '085660', '094850', '004650', '311690', '278280', '096240', '066360', '047820', '052300', '094360', '016920', '284620', '293490', '042000', '317530', '071850', '180400', '050110', '900310', '078340', '307930', '263700', '214370', '221980', '043290', '317030', '323940', '330990', '342550', '192250', '115500', '089150', '025880', '093320', '073010', '105330', '272110', '039420', '083550', '032500', '225430', '064820', '347140', '256940', '024880', '042040', '054410', '274090', '217600', '089010', '220260', '052400', '033110', '046070', '047770', '078940', '080530', '224060', '104540', '027050', '290510', '190650', '101670', '123410', '036690', '049430', '183300', '041960', '089890', '009730', '082660', '222040', '241710', '069110', '166480', '045970', '196450', '029960', '102940', '950160', '033290', '056360', '282880', '121850', '015710', '052330', '322780', '126600', '200130', '294570', '317690', '060280', '040350', '051780', '115180', '043090', '182360', '066310', '016600', '043590', '114120', '110790', '900250', '083790', '045520', '036170', '214150', '352770', '237880', '139670', '311270', '054780', '219130', '065130', '023160', '053620', '044490', '124560', '191420', '073640', '182690', '066700', '095610', '131970', '089030', '054450', '091440', '200230', '215480', '051360', '045340', '108230', '079970', '105550', '026150', '322180', '117730', '033830', '057680', '064760', '246710', '340570', '277880', '131290', '356860', '062860', '321550', '104480', '081150', '130740', '084730', '046210', '034230', '033540', '043200', '214450', '208340', '177830', '037070', '150900', '037030', '047310', '170790', '049120', '038950', '106240', '131760', '065690', '140860', '091700', '038160', '032800', '318010', '027710', '225590', '054300', '068050', '222110', '263750', '251970', '087010', '119500', '022100', '009520', '189690', '318020', '256630', '141020', '041020', '114630', '123010', '290720', '005670', '094940', '007330', '093380', '023900', '214270', '220100', '035200', '334970', '203690', '053610', '335810', '053160', '075130', '237820', '023770', '300080', '032580', '051380', '241820', '237750', '024850', '319660', '031980', '002230', '057880', '043370', '239890', '347740', '137400', '128660', '006140', '304840', '062970', '087600', '161580', '347770', '163730', '332710', '341160', '343510', '363260', '299030', '067310', '372290', '307160', '166090', '136480', '003380', '149980', '013030', '126700', '106080', '340120', '377400', '221840', '106190', '066130', '368770', '004590', '039340', '034950', '222980', '318000', '256840', '025550', '017890', '080720', '063570', '041460', '101680', '039740', '053300', '025770', '310870', '023760', '054040', '050540', '021650', '053590', '032300', '037230', '030520', '052600', '256150', '092460', '047080', '070590', '226440', '042520', '078350', '045100', '046110', '024740', '005860', '123840', '007770', '079170', '086960', '054920', '002680', '066110', '317320', '340440', '034810', '076610', '059270', '220180', '900270', '084990', '170030', '319400', '048410', '052260', '016790', '041440', '039010', '090850', '092300', '053660', '011080', '060560', '064240', '039610', '126640', '061250', '097870', '050090', '290270', '090710', '205470', '115160', '028080', '032860', '200670', '065510', '243070', '084110', '263920', '145020', '024060', '010240', '189980', '037440', '238490']

In [ ]:
for ticker in stock.get_market_ticker_list():
        종목 = stock.get_market_ticker_name(ticker)
        print(종목)

AJ네트웍스
AK홀딩스
BGF
BGF리테일
BNK금융지주
BYC
BYC우
CJ
CJ CGV
CJ4우(전환)
CJ대한통운
CJ씨푸드
CJ씨푸드1우
CJ우
CJ제일제당
CJ제일제당 우
CS홀딩스
DB
DB금융투자
DB손해보험
DB하이텍
DB하이텍1우
DGB금융지주
DI동일
DL
DL건설
DL우
DL이앤씨
DL이앤씨우
DRB동일
DSR
DSR제강
E1
ESR켄달스퀘어리츠
F&F
F&F홀딩스
GKL
GS
GS건설
GS글로벌
GS리테일
GS우
HDC
HDC랩스
HDC현대EP
HDC현대산업개발
HJ중공업
HMM
HSD엔진
IHQ
JB금융지주
JW생명과학
JW중외제약
JW중외제약2우B
JW중외제약우
JW홀딩스
KB금융
KCC
KCC글라스
KCTC
KC그린홀딩스
KC코트렐
KEC
KG동부제철
KG동부제철우
KG케미칼
KH 필룩스
KISCO홀딩스
KPX케미칼
KPX홀딩스
KR모터스
KSS해운
KT
KT&G
KTB투자증권
KTcs
KTis
LF
LG
LG디스플레이
LG생활건강
LG생활건강우
LG에너지솔루션
LG우
LG유플러스
LG이노텍
LG전자
LG전자우
LG헬로비전
LG화학
LG화학우
LIG넥스원
LS
LS ELECTRIC
LS네트웍스
LS전선아시아
LX인터내셔널
LX하우시스
LX하우시스우
LX홀딩스
LX홀딩스1우
MH에탄올
NAVER
NHN
NH올원리츠
NH투자증권
NH투자증권우
NH프라임리츠
NICE
NI스틸
NPC
NPC우
OCI
PI첨단소재
POSCO
S-Oil
S-Oil우
SBS
SGC에너지
SG글로벌
SG세계물산
SHD
SH에너지화학
SIMPAC
SJM
SJM홀딩스
SK
SKC
SK가스
SK네트웍스
SK네트웍스우
SK디스커버리
SK디스커버리우
SK디앤디
SK렌터카
SK리츠
SK바이오사이언스
SK바이오팜
SK스퀘어
SK아이이테크놀로지
SK우
SK이노베이션
SK이노베이션우
SK증권
SK증권우
SK케미칼
SK케미칼우
SK텔레콤
SK하이닉스
SNT모티브
SNT에너지
SNT중공업
SNT홀딩스
SPC삼립
STX
STX엔진
STX중공업
SUN&L
TBH글로벌
TCC스틸
TYM
WISCOM
YG PLUS
가온전선
강남제비스코
강원랜드
갤럭시아에스엠
경농
경동나비엔
경동도시가스
경동인베스트
경방
경보제약
경인양행
경인전자
계룡건설
계양전기
계양전기우
고려산업
고려아연
고려제강
광동제약
광명전기
광전자
광주신세계
교보증권
교촌에프앤비
국도화학
국동
국보
국제약품
그린케미칼
극동유화
금강공업
금강공업우
금비
금양
금호건설
금호건설우
금호석유
금호석유우
금호에이치티
금호전기
금호타이어
기신정기
기아
기업은행
까뮤이앤씨
깨끗한나라
깨끗한나라우
남광토건
남선알미늄
남선알미우
남성
남양유업
남양유업우
남해화학
넥센
넥센우
넥센타이어
넥센타이어1우B
넥스트사이언스
넷마블
노루페인트
노루페인트우
노루홀딩스
노루홀딩스우
녹십자
녹십자홀딩스
녹십자홀딩스2우
농심
농심홀딩스
다스코
다우기술
다이나믹디자인
대교
대교우B
대구백화점
대덕
대덕1우
대덕전자
대덕전자1우
대동
대동전자
대림B&Co
대림통상
대상
대상우
대상홀딩스
대상홀딩스우
대성산업
대성에너지
대성홀딩스
대신증권
대신증권2우B
대신증권우
대양금속
대영포장
대우건설
대우부품
대우조선해양
대웅
대웅제약
대원강업
대원전선
대원전선우
대원제약
대원화성
대유에이텍
대유플러스
대창
대창단조
대한방직
대한유화
대한전선
대한제강
대한제당
대한제당우
대한제분
대한항공
대한항공우
대한해운
대한화섬
대현
대호에이엘
더블유게임즈
더존비즈온
덕성
덕성우
덕양산업
덴티움
도화엔지니어링
동국제강
동남합성
동방
동방아그로
동부건설
동부건설우
동서
동성제약
동성케미컬
동아쏘시오홀딩스
동아에스티
동아지질
동아타이어
동양
동양2우B
동양3우B
동양고속
동양생명
동양우
동양철관
동양피스톤
동원F&B
동원금속
동원산업
동원수산
동원시스템즈
동원시스템즈우
동일고무벨트
동일산업
동일제강
동화약품
두산
두산2우B
두산밥캣
두산우
두산중공업
두산퓨얼셀
두산퓨얼셀1우
두산퓨얼셀2우B
두올
드림텍
디씨엠
디아이
디아이씨
디앤디플랫폼리츠
디와이
디와이파워
디티알오토모티브
락앤락
롯데관광개발
롯데렌탈
롯데리츠
롯데손해보험
롯데쇼핑
롯데정밀화학
롯데정보통신
롯데제과
롯데지주
롯데지주우
롯데칠성
롯데칠성우
롯데케미칼
롯데푸드
롯데하이마트
마니커
만도
만호제강
맥쿼리인프라
맵스리얼티1
메리츠금융지주
메리츠증권
메리츠화재
메타랩스
명문제약
명신산업
모나리자
모나미
모두투어리츠
모토닉
무림P&P
무림페이퍼
무학
문배철강
미래산업
미래아이앤지
미래에셋글로벌리츠
미래에셋맵스리츠
미래에셋생명
미래에셋증권
미래에셋증권2우B
미래에셋증권우
미원상사
미원에스씨
미원홀딩스
미원화학
미창석유
바다로19호
방림
백광산업
백산
범양건영
베트남개발1
벽산
보락
보령제약
보해양조
부광약품
부국증권
부국증권우
부국철강
부산산업
부산주공
비비안
비상교육
비케이탑스
빙그레
사조대림
사조동아원
사조산업
사조씨푸드
사조오양
삼부토건
삼성SDI
삼성SDI우
삼성공조
삼성물산
삼성물산우B
삼성바이오로직스
삼성생명
삼성에스디에스
삼성엔지니어링
삼성전기
삼성전기우
삼성전자
삼성전자우
삼성제약
삼성중공업
삼성중공우
삼성증권
삼성출판사
삼성카드
삼성화재
삼성화재우
삼아알미늄
삼양사
삼양사우
삼양식품
삼양통상
삼양패키징
삼양홀딩스
삼양홀딩스우
삼영무역
삼영전자
삼영화학
삼원강재
삼익THK
삼익악기
삼일씨엔에스
삼일제약
삼정펄프
삼진제약
삼천리
삼호개발
삼화왕관
삼화전기
삼화전자
삼화콘덴서
삼화페인트
상상인증권
상신브레이크
새론오토모티브
샘표
샘표식품
서연
서연이화
서울가스
서울식품
서울식품우
서원
서흥
선도전기
선진
성문전자
성문전자우
성보화학
성신양회
성신양회우
성안
성창기업지주
세기상사
세방
세방우
세방전지
세아베스틸
세아제강
세아제강지주
세아특수강
세아홀딩스
세우글로벌
세원이앤씨
세원정공
세이브존I&C
세종공업
세진중공업
세하
센트랄모텍
센트럴인사이트
셀트리온
솔루스첨단소재
솔루스첨단소재1우
솔루스첨단소재2우B
솔루엠
송원산업
수산중공업
스카이라이프
스틱인베스트먼트
시디즈
신대양제지
신도리코
신라교역
신성이엔지
신성통상
신세계
신세계 I&C
신세계건설
신세계인터내셔날
신세계푸드
신송홀딩스
신영와코루
신영증권
신영증권우
신원
신원우
신일전자
신풍제약
신풍제약우
신풍제지
신한서부티엔디리츠
신한알파리츠
신한지주
신흥
쌍방울
쌍용C&E
쌍용차
써니전자
쎌마테라퓨틱스
씨아이테크
씨에스윈드
아남전자
아모레G
아모레G3우(전환)
아모레G우
아모레퍼시픽
아모레퍼시픽우
아세아
아세아시멘트
아세아제지
아센디오
아시아나IDT
아시아나항공
아이마켓코리아
아이에스동서
아주스틸
알루코
애경산업
애경케미칼
에넥스
에스디바이오센서
에스엘
에스원
에쓰씨엔지니어링
에어부산
에이리츠
에이블씨엔씨
에이엔피
에이프로젠 MED
에이프로젠제약
에이플러스에셋
엔씨소프트
엔에스쇼핑
엔에이치스팩19호
엔케이
엘브이엠씨홀딩스
엠씨넥스
영보화학
영원무역
영원무역홀딩스
영진약품
영풍
영풍제지
영화금속
영흥
예스코홀딩스
오뚜기
오리엔트바이오
오리온
오리온홀딩스
와이투솔루션
용평리조트
우리금융지주
우리들휴브레인
우리종금
우성
우신시스템
우진
우진아이엔에스
우진플라임
웅진
웅진씽크빅
원림
웰바이오텍
윌비스
유나이티드제약
유니드
유니온
유니온머티리얼
유니켐
유니퀘스트
유성기업
유수홀딩스
유안타증권
유안타증권우
유엔젤
유유제약
유유제약1우
유유제약2우B
유진투자증권
유한양행
유한양행우
유화증권
유화증권우
율촌화학
이건산업
이구산업
이노션
이리츠코크렙
이마트
이수페타시스
이수화학
이스타코
이아이디
이엔플러스
이연제약
이월드
이지스레지던스리츠
이지스밸류리츠
이화산업
인디에프
인바이오젠
인스코비
인지컨트롤스
인천도시가스
인터지스
인팩
일동제약
일동홀딩스
일성건설
일성신약
일신방직
일신석재
일양약품
일양약품우
일정실업
일진다이아
일진디스플
일진머티리얼즈
일진전기
일진하이솔루스
일진홀딩스
잇츠한불
자이에스앤디
자화전자
전방
제이알글로벌리츠
제이에스코퍼레이션
제이준코스메틱
제이콘텐트리
제일기획
제일약품
제일연마
제일파마홀딩스
제주은행
제주항공
조광페인트
조광피혁
조비
조선내화
조선선재
조일알미늄
조흥
종근당
종근당바이오
종근당홀딩스
주연테크
지누스
지엠비코리아
지역난방공사
지코
지투알
진도
진양산업
진양폴리
진양홀딩스
진양화학
진에어
진원생명과학
진흥기업
진흥기업2우B
진흥기업우B
참엔지니어링
천일고속
체시스
카카오
카카오뱅크
카카오페이
카프로
컨버즈
케이비아이동국실업
케이씨
케이씨텍
케이카
케이탑리츠
코람코에너지리츠
코리아써우
코리아써키트
코리아써키트2우B
코리안리
코스맥스
코스맥스비티아이
코스모신소재
코스모화학
코아스
코오롱
코오롱글로벌
코오롱글로벌우
코오롱우
코오롱인더
코오롱인더우
코오롱플라스틱
코웨이
콤텍시스템
쿠쿠홀딩스
쿠쿠홈시스
큐로
크라운제과
크라운제과우
크라운해태홀딩스
크라운해태홀딩스우
크래프톤
키다리스튜디오
키움증권
태경비케이
태경산업
태경케미컬
태광산업
태림포장
태양금속
태양금속우
태영건설
태영건설우
태원물산
태평양물산
테이팩스
텔코웨어
토니모리
티에이치엔
티와이홀딩스
티와이홀딩스우
티웨이항공
티웨이홀딩스
파미셀
팜스코
팜젠사이언스
팬오션
퍼스텍
퍼시스
페이퍼코리아
평화산업
평화홀딩스
포스코강판
포스코인터내셔널
포스코케미칼
폴루스바이오팜
풀무원
풍산
풍산홀딩스
프레스티지바이오파마
플레이그램
하나금융지주
하나제약
하나투어
하이골드3호
하이브
하이스틸
하이트론
하이트진로
하이트진로2우B
하이트진로홀딩스
하이트진로홀딩스우
한국ANKOR유전
한국가스공사
한국공항
한국금융지주
한국금융지주우
한국내화
한국단자
한국석유
한국수출포장
한국쉘석유
한국앤컴퍼니
한국자산신탁
한국전력
한국전자홀딩스
한국조선해양
한국종합기술
한국주강
한국주철관
한국철강
한국카본
한국콜마
한국콜마홀딩스
한국타이어앤테크놀로지
한국토지신탁
한국특강
한국패러랠
한국프랜지
한국항공우주
한국화장품
한국화장품제조
한농화성
한독
한라
한라홀딩스
한미글로벌
한미반도체
한미사이언스
한미약품
한샘
한섬
한성기업
한세실업
한세엠케이
한세예스24홀딩스
한솔PNS
한솔로지스틱스
한솔제지
한솔케미칼
한솔테크닉스
한솔홀딩스
한솔홈데코
한신공영
한신기계
한양증권
한양증권우
한온시스템
한올바이오파마
한익스프레스
한일시멘트
한일철강
한일현대시멘트
한일홀딩스
한전KPS
한전기술
한전산업
한진
한진중공업홀딩스
한진칼
한진칼우
한창
한창제지
한컴라이프케어
한화
한화3우B
한화생명
한화손해보험
한화솔루션
한화솔루션우
한화시스템
한화에어로스페이스
한화우
한화투자증권
한화투자증권우
해성디에스
해태제과식품
핸즈코퍼레이션
현대건설
현대건설기계
현대건설우
현대그린푸드
현대글로비스
현대두산인프라코어
현대로템
현대리바트
현대모비스
현대미포조선
현대백화점
현대비앤지스틸
현대비앤지스틸우
현대약품
현대에너지솔루션
현대엘리베이
현대오토에버
현대위아
현대일렉트릭
현대제철
현대중공업
현대중공업지주
현대차
현대차2우B
현대차3우B
현대차우
현대차증권
현대코퍼레이션
현대코퍼레이션홀딩스
현대퓨처넷
현대해상
현대홈쇼핑
형지엘리트
혜인
호전실업
호텔신라
호텔신라우
화성산업
화승알앤에이
화승엔터프라이즈
화승인더
화승코퍼레이션
화신
화인베스틸
화천기계
화천기공
환인제약
황금에스티
효성
효성ITX
효성중공업
효성첨단소재
효성티앤씨
효성화학
후성
휠라홀딩스
휴니드
휴비스
휴스틸
휴켐스
흥국화재
흥국화재2우B
흥국화재우
흥아해운

In [ ]:
# 일자별 OHLCV 조회
# get_market_ohlcv_by_date 함수는 시작일/종료일/티커 세 개의 파라미터를 입력받아 OHLCV를 일자별로 정렬
# DataFrame으로 반환

df = stock.get_market_ohlcv_by_date("20180604", "20220211", "005930")
print(df.head(5))

               시가     고가     저가     종가       거래량
날짜
2018-06-04  50800  51200  50700  51100   9767171
2018-06-05  51100  51400  50400  51300   9144100
2018-06-07  51800  51800  50500  50600  13590016
2018-06-08  50200  50400  49600  49650  16951706
2018-06-11  49750  50300  49350  49900  10571312

In [ ]:
# get_market_ohlcv_by_date() 함수에 frequency 파라미터(d/m/y)를 추가
df = stock.get_market_ohlcv_by_date("20180604", "20220211", "005930", "m")
print(df.head(5))

               시가     고가     저가     종가        거래량
날짜
2018-06-30  50800  51800  45900  46650  239310263
2018-07-31  46500  47600  44650  46250  214539505
2018-08-31  46050  48450  43500  48450  194108773
2018-09-30  48200  48300  44000  46450  197984482
2018-10-31  46450  46800  40400  42400  234645485

In [ ]:
# 코스피(KOSPI)/코스닥(KOSDAQ)/코넥스(KONEX) 시장을 지원합니다.
# ALL을 입력하면 전체 시장을 조회합니다.
# 값을 입력하지 않는다면 코스피 시장을 조회합니다.

df = stock.get_market_ohlcv_by_ticker("20200831", market="KOSPI")
df = stock.get_market_ohlcv_by_ticker("20200831", market="KOSDAQ")
df = stock.get_market_ohlcv_by_ticker("20200831", market="KONEX")

In [ ]:

# 입력된 기간 동안의 가격 가격 변동 정보를 반환
df = stock.get_market_price_change_by_ticker("20210101", "20220201")
print(df.head())

            종목명      시가      종가    변동폭    등락률        거래량           거래대금
티커
095570   AJ네트웍스    4615    4960    345   7.48   49699935   274507246783
006840    AK홀딩스   25150   16850  -8300 -33.00   18151642   526634511750
027410      BGF    4895    4640   -255  -5.21  166972113  1076876568630
282330   BGF리테일  135500  162000  26500  19.56   10189409  1666032440585
138930  BNK금융지주    5680    8040   2360  41.55  456912190  3394267301890

In [ ]:
## get_market_price_change_by_ticker 함수는 기본적으로 KOSPI 시장을 조회
# market 파라미터에 KOSDAQ 또는 ALL을 입력할 수 있습니다. ALL은 모든 시장의 가격 변동폭을 조회
df = stock.get_market_price_change_by_ticker("20210101", "20210201", market="KOSDAQ")
print(df.head(3))

           종목명     시가     종가  변동폭    등락률      거래량          거래대금
티커
060310      3S   2165   2250   85   3.93  8663148   19616717820
054620  APS홀딩스   8210   7240 -970 -11.81  5508948   41073212420
265520   AP시스템  24850  25200  350   1.41  9721087  249999167450

In [ ]:
# 종목별 DIV/BPS/PER/EPS 조회
df = stock.get_market_fundamental_by_ticker("20220211")
print(df.head())

          BPS        PER       PBR   EPS       DIV   DPS
티커
095570   6089   0.000000  0.859863     0  4.019531   210
006840  50471   0.000000  0.399902     0  2.000000   400
027410  15781  17.546875  0.320068   285  2.199219   110
282330  40317  23.578125  4.148438  7103  1.429688  2400
138930  26781   5.671875  0.320068  1498  3.759766   320

In [ ]:
#frequency 파라미터(d/m/y)를 추가
df = stock.get_market_fundamental_by_date("20200101", "20200430", "005930", freq="m")
print(df.head(2))

              BPS   PER   PBR   EPS   DIV   DPS
날짜
2020-01-31  35342  8.54  1.56  6461  2.57  1416
2020-02-29  35342  8.85  1.62  6461  2.48  1416

In [ ]:
# 일자별 거래실적 추이 (거래대금)

#지정된 기간 동안의 일자별로 정렬된 (순매수) 거래량
df = stock.get_market_trading_value_by_date("20210101", "20220201", "005930")
print(df.head())

                    기관합계         기타법인             개인         외국인합계  전체
날짜
2021-01-04 -326136950200  48480486000   658901836000 -381245371800   0
2021-01-05 -203963791100   7236010900   622727193300 -425999413100   0
2021-01-06 -442463559600  13521042200  1013153304900 -584210787500   0
2021-01-07  250129976600  17802746700   -71008181500 -196924541800   0
2021-01-08 -436089196200   1958064400  -169881010800  604012142600   0

In [ ]:
# 매수 혹은 매도 금액을 조회하고 싶다면 on 파라미터에 입력할 수 있습니다. 입력하지 않는다면 순매수 금액이 조회
df = stock.get_market_trading_value_by_date("20210115", "20210122", "005930", on='매도')
print(df.head())

                     기관합계         기타법인  ...         외국인합계             전체
날짜                                      ...
2021-01-15  1505250243300  19525756900  ...  525029741764  2975231937664
2021-01-18  1353223733500  22132983500  ...  456996648400  3715775992600
2021-01-19  1205081446400  28155090000  ...  407371601300  3441342754500
2021-01-20  1147190346800  10015618200  ...  405119540200  2205739149700
2021-01-21   878411497500  41184362100  ...  439714802000  2211209788500

[5 rows x 5 columns]

In [ ]:
#세 번째 파라미터에 KOSPI, KOSDAQ, KONEX를 사용하면 각 시장의 거래대금을 조회
#ALL을 입력하면 세 개의 시장을 합친 통합 거래대금을 조회
df = stock.get_market_trading_value_by_date("20210115", "20210211", "KOSPI")
print(df.head())

                     기관합계         기타법인             개인         외국인합계  전체
날짜
2021-01-15 -1414745885546  54444293672  2113924037705 -753622445831   0
2021-01-18  -278880716957 -26004926379   514299140387 -209413497051   0
2021-01-19   593956459208  21472281148 -1025418915468  409990175112   0
2021-01-20 -1234485992694  34510184945  1436793223994 -236817416245   0
2021-01-21  -292666343147 -13168420832   -62476631241  368311395220   0

In [ ]:
# 시장의 거래대금을 조회할 때는 ETF, ETN ELW의 포함 여부를 지정할 수 있습니다. 
# 만약 값을 지정하지 않는다면 해당 데이터를 제외한 값을을 반환

df = stock.get_market_trading_value_by_date("20210115", "20220211", "KOSPI", etf=True, etn=True, elw=True)
print(df.head())

                     기관합계         기타법인             개인         외국인합계  전체
날짜
2021-01-15 -1536570309441  63110174617  2251672617980 -778212483156   0
2021-01-18  -601428111357 -27000808439   494341183227  134087736569   0
2021-01-19   544654406338  21787409868  -968965427363  402523611157   0
2021-01-20 -1227642472619  32139813590  1444113501769 -248610842740   0
2021-01-21  -284899892322 -19072459127   -61503500921  365475852370   0

In [ ]:
# detail 옵션을 추가하면 상세한 정보를 얻을 수 있습니다. 옵션은 KOSPI, KOSDAQ, KONEX 조회할 때만 유효

df = stock.get_market_trading_value_by_date("20210115", "20210122", "KOSPI", etf=True, etn=True, elw=True, detail=True)
print(df.head())

                     금융투자            보험  ...       기타외국인  전체
날짜                                       ...
2021-01-15  -991569370471 -101879326615  ...  2041234017   0
2021-01-18  -234901037556  -72240710086  ...  1942390927   0
2021-01-19  1095649201830  -16407303019  ...   658725607   0
2021-01-20  -642974676550  -63074125224  ...  2076280565   0
2021-01-21   354360314201 -107524405663  ...  1674507706   0

[5 rows x 12 columns]

In [ ]:
# 일자별 거래실적 추이(거래량)

#일자별 시장의 거래량을 조회
df = stock.get_market_trading_volume_by_date("20210101", "20210701", "005930")
print(df.head())

               기관합계    기타법인        개인    외국인합계  전체
날짜
2021-01-04 -3986032  587931   8023833 -4625732   0
2021-01-05 -2477973   88391   7583287 -5193705   0
2021-01-06 -5326921  161660  12170137 -7004876   0
2021-01-07  2989615  213934   -837695 -2365854   0
2021-01-08 -5082378   22729  -1992264  7051913   0

In [ ]:
# 매수 혹은 매도 거래량만을 조회하고 싶다면 on 파라미터에 입력 가능
# 입력하지 않는다면 순매수 수량이 조회
df = stock.get_market_trading_volume_by_date("20210115", "20210122", "005930", on='매도')
print(df.head())

                기관합계    기타법인        개인    외국인합계        전체
날짜
2021-01-15  16944750  216653  10371182  5899224  33431809
2021-01-18  15709256  258096  21942253  5318346  43227951
2021-01-19  13912581  323382  20956376  4702705  39895044
2021-01-20  13121791  114341   7346474  4628521  25211127
2021-01-21  10093381  473635   9714878  5036117  25318011

In [ ]:
# 세 번째 파라미터에 KOSPI, KOSDAQ, KONEX를 사용하면 각 시장의 거래량을 조회 
#ALL을 입력하면 세 개의 시장을 합친 통합 거래량을 조회
df = stock.get_market_trading_volume_by_date("20220115", "20220122", "KOSPI")
print(df.head())

                기관합계     기타법인        개인     외국인합계  전체
날짜
2022-01-17  10126907  -757406  19432635 -28802136   0
2022-01-18  -5505228  -109685  11141728  -5526815   0
2022-01-19  -1492202 -3444491  -1659931   6596624   0
2022-01-20    972946  -242662  -3065699   2335415   0
2022-01-21  -6632901  -689675  12580782  -5258206   0

In [ ]:
# 투자자별 거래실적 추이 (거래대금)

In [ ]:
#지정된 기간 동안의 투자자별로 정렬된 (순매수) 거래대금
df = stock.get_market_trading_value_by_investor("20220101", "20220701", "005930")
print(df.head())

                  매도             매수            순매수
투자자구분
금융투자   4600822285600  3439091147600 -1161731138000
보험      344969646500   194427425400  -150542221100
투신      368691942500   391109431700    22417489200
사모      471890435900   315462509100  -156427926800
은행       41929519200    15270115400   -26659403800

In [ ]:
#세 번째 파라미터에 KOSPI, KOSDAQ, KONEX를 지정하면 각 시장의 거래대금을 조회
# ALL을 입력하면 세 개의 시장을 합친 통합 거래대금을 조회
df = stock.get_market_trading_value_by_investor("20210101", "20210701", "KOSPI")
print(df.head())

                    매도               매수            순매수
투자자구분
금융투자   129106291931852  124118597123721 -4987694808131
보험      14553591609599   11217910114022 -3335681495577
투신      30145646816976   25894892024771 -4250754792205
사모      16717352065581   13748646227789 -2968705837792
은행       2106750785171     829995794830 -1276754990341

In [ ]:
#시장의 거래대금을 조회할 때는 ETF, ETN ELW의 포함 여부를 지정 가능
#만약 값을 지정하지 않는다면 해당 데이터를 제외한 값을을 반환
# 옵션은 KOSPI, KOSDAQ, KONEX 조회할 때만 유효
df = stock.get_market_trading_value_by_investor("20210115", "20210122", "KOSPI", etf=True, etn=True, elw=True)
print(df.head())

                   매도              매수           순매수
투자자구분
금융투자   15985568261831  15006116511544 -979451750287
보험      1219035502445    757575677208 -461459825237
투신      2235561259511   1799363743367 -436197516144
사모       999084910863    846067212945 -153017697918
은행       886226324790    936210985810   49984661020

In [ ]:
# 투자자별 거래실적 추이 (거래량)

In [ ]:
# 지정된 기간 동안의 투자자별로 정렬된 (순매수) 거래량
df = stock.get_market_trading_volume_by_investor("20210115", "20210122", "005930")
print(df.head())

             매도        매수      순매수
투자자구분
금융투자   29455909  26450600 -3005309
보험      1757287    509535 -1247752
투신      2950680   1721970 -1228710
사모       745727    696135   -49592
은행        38675     46394     7719

In [ ]:
# 세 번째 파라미터에 KOSPI, KOSDAQ, KONEX를 지정하면 각 시장의 거래량을 조회
#ALL을 입력하면 세 개의 시장을 합친 통합 거래량을 조회
df = stock.get_market_trading_volume_by_investor("20210115", "20210122", "KOSPI")
print(df.head())

              매도         매수       순매수
투자자구분
금융투자   137969209  127697577 -10271632
보험      15737709    8577242  -7160467
투신      46872846   34307243 -12565603
사모      20780475   16342937  -4437538
은행       2236667     632814  -1603853

In [ ]:
# 시장의 거래량을 조회할 때는 ETF, ETN ELW의 포함 여부를 지정 가능. 
# 만약 값을 지정하지 않는다면 해당 데이터를 제외한 값을을 반환. 
# 옵션은 KOSPI, KOSDAQ, KONEX 조회할 때만 유효
df = stock.get_market_trading_volume_by_investor("20210101", "20210701", "KOSPI", etf=True, etn=True, elw=True)
print(df.head())

                매도           매수         순매수
투자자구분
금융투자   45272762377  42606404777 -2666357600
보험       458281469    400048854   -58232615
투신      1321530638   1305211580   -16319058
사모       567744436    525209938   -42534498
은행       624072729    665814706    41741977

In [ ]:
# 투자자별 순매수 상위종목
# get_market_net_purchases_of_equities_by_ticker 함수는 순매수 금액 순서로 정렬된 종목 리스트를 반환

df = stock.get_market_net_purchases_of_equities_by_ticker("20220125", "20220211", "KOSPI", "개인")
print(df.head())

            종목명     매도거래량     매수거래량  ...         매도거래대금         매수거래대금       순매수거래대금
티커                                   ...
006400    삼성SDI   1825533   2862201  ...  1066521716000  1672646937000  606125221000
005930     삼성전자  36946803  43742785  ...  2724981344500  3205307704400  480326359900
005380      현대차   3079441   5451075  ...   579176079500  1022109340000  442933260500
035720      카카오  15630903  18430421  ...  1370785611700  1609487930100  238702318400
096770  SK이노베이션   3250788   4262358  ...   717536726000   934595219500  217058493500

[5 rows x 7 columns]

In [ ]:
# 투자자 항목에는 다음 중 하나를 설정 가능
# 금융투자 / 보험 / 투신 / 사모 / 은행 / 기타금융 / 연기금 / 기관합계 / 기타법인 / 개인 / 외국인 / 기타외국인 / 전체

df = stock.get_market_net_purchases_of_equities_by_ticker("20220125", "20220211", "KOSPI", "외국인")
print(df.head())

           종목명     매도거래량     매수거래량  ...         매도거래대금         매수거래대금       순매수거래대금
티커                                  ...
000660  SK하이닉스  13681581  20088219  ...  1670220146746  2490353719246  820133572500
316140  우리금융지주  15815123  34923783  ...   237249403230   522925048980  285675645750
105560    KB금융   7400659  11049571  ...   451279281069   678372344069  227093063000
051910    LG화학   2498291   2841387  ...  1598665366558  1824429445558  225764079000
086790  하나금융지주   5148306   9713968  ...   237745625250   454951516700  217205891450

[5 rows x 7 columns]

In [ ]:
# 종목별 시가 총액 조회
# get_market_cap_by_ticker 함수는 특정 일자의 종목별 시가총액/거래량/거래대금/상장주식수/외국인보유주식수를 조회
#외국인보유주식수는 D-2 (영업일 기준)일 까지 유효한 값이 출력되며, D-1일은 0으로 표기
df = stock.get_market_cap_by_ticker("20210701")
print(df.head())

            종가             시가총액       거래량           거래대금       상장주식수
티커
005930   80100  478179582255000  13382882  1073188213795  5969782550
000660  124500   90636294442500   3336174   417469163256   728002365
035720  160000   71028733600000   4630280   748866494382   443929585
035420  413000   67840782135000    592869   246417898898   164263395
005935   73400   60399883780000   1288049    94562318306   822886700

In [ ]:
# 일자별 시가 총액 조회
# get_market_cap_by_date 함수는 특정 종목의 일자별 시가총액을 조회
#거래량/거래대금/상장주식수가 함께 조회
df = stock.get_market_cap_by_date("20220111", "20220201", "005930")
print(df.head())
print(df.tail())

                       시가총액       거래량           거래대금       상장주식수
날짜
2022-01-11  471015843195000  13221123  1038834579600  5969782550
2022-01-12  471015843195000  11000502   868910854000  5969782550
2022-01-13  465046060645000  13889401  1088598373464  5969782550
2022-01-14  461464191115000  10096725   781574668408  5969782550
2022-01-17  462658147625000   8785122   678903113900  5969782550
                       시가총액       거래량           거래대금       상장주식수
날짜
2022-01-24  448330669505000  13691134  1028859496700  5969782550
2022-01-25  441763908700000  17766704  1313117613328  5969782550
2022-01-26  437585060915000  12976730   955547183400  5969782550
2022-01-27  425645495815000  22274777  1603685111200  5969782550
2022-01-28  437585060915000  21367447  1552585967650  5969782550

In [ ]:
#get_market_cap_by_date() 함수에 frequency 파라미터(d/m/y)를 추가
# d는 일자, m은 월, y는 연도를 의미
# 시가총액과 상장주식수는 월별 마지막 거래일의 값을 사용
df = stock.get_market_cap_by_date("20210101", "20210701", "005930", "m")
print(df.head())

                       시가총액        거래량            거래대금       상장주식수
날짜
2021-01-31  489522169100000  765471247  66588164494174  5969782550
2021-02-28  492507060375000  432953240  36020443268993  5969782550
2021-03-31  485940299570000  387612356  31876803021604  5969782550
2021-04-30  486537277825000  372938171  31169716082524  5969782550
2021-05-31  480567495275000  352211074  28341778034285  5969782550

In [ ]:
# 시가총액과 상장주식수는 월별 마지막 거래일의 값을 사용

df = stock.get_market_cap_by_date("20210101", "20210701", "005930", "m")
print(df.head())
print(df)

                       시가총액        거래량            거래대금       상장주식수
날짜
2021-01-31  489522169100000  765471247  66588164494174  5969782550
2021-02-28  492507060375000  432953240  36020443268993  5969782550
2021-03-31  485940299570000  387612356  31876803021604  5969782550
2021-04-30  486537277825000  372938171  31169716082524  5969782550
2021-05-31  480567495275000  352211074  28341778034285  5969782550
                       시가총액        거래량            거래대금       상장주식수
날짜
2021-01-31  489522169100000  765471247  66588164494174  5969782550
2021-02-28  492507060375000  432953240  36020443268993  5969782550
2021-03-31  485940299570000  387612356  31876803021604  5969782550
2021-04-30  486537277825000  372938171  31169716082524  5969782550
2021-05-31  480567495275000  352211074  28341778034285  5969782550
2021-06-30  481761451785000  333099465  27047251878682  5969782550
2021-07-31  478179582255000   13382882   1073188213795  5969782550

In [ ]:
# 티커별 외국인 보유량 및 외국인 한도소진률

# get_exhaustion_rates_of_foreign_investment_by_ticker 함수
#상장주식수/외국인한도수량/외국인보유수량/외국인한도소진률 정보를 조회
#외국인 보유수량 및 한도소진율은 장개시 시점 기준(금융감독원 외국인투자 관리시스템 제공 전일자 확정치)
df = stock.get_exhaustion_rates_of_foreign_investment_by_ticker('20210701')
print(df.head())
df

            상장주식수      보유수량        지분율       한도수량      한도소진률
티커
000020   27931470    828117   2.960938   27931470   2.960938
000040   96137368  44241720  46.031250   96137368  46.031250
000050   27415270    759750   2.769531   27415270   2.769531
000060  120625000  13175456  10.921875  120625000  10.921875
000070    8564271    742668   8.671875    8564271   8.671875

            상장주식수      보유수량        지분율       한도수량      한도소진률
티커
000020   27931470    828117   2.960938   27931470   2.960938
000040   96137368  44241720  46.031250   96137368  46.031250
000050   27415270    759750   2.769531   27415270   2.769531
000060  120625000  13175456  10.921875  120625000  10.921875
000070    8564271    742668   8.671875    8564271   8.671875
...           ...       ...        ...        ...        ...
383220    7661415    833803  10.882812    7661415  10.882812
383800   76280690  11459734  15.023438   76280690  15.023438
38380K    1465285    138831   9.468750    1465285   9.468750
900140   99455297  16400685  16.484375   99455297  16.484375
950210   60096155  38344916  63.812500   60096155  63.812500

[927 rows x 5 columns]

In [ ]:
# 두 번째 파라미터 market은 코스피(KOSPI)/코스닥(KOSDAQ)/코넥스(KONEX) 시장을 지정해서 조회

df = stock.get_exhaustion_rates_of_foreign_investment_by_ticker('20200703', "KOSPI")
print(df.head())

            상장주식수      보유수량        지분율       한도수량      한도소진률
티커
000020   27931470   1400966   5.019531   27931470   5.019531
000040   91661018  43190959  47.125000   91661018  47.125000
000050   27415270    773627   2.820312   27415270   2.820312
000060  113680000  12968255  11.406250  113680000  11.406250
000070    8564271    661240   7.718750    8564271   7.718750

In [ ]:
# 일자별 외국인 보유량 및 외국인 한도소진률
# et_exhaustion_rates_of_foreign_investment_by_date 함수는 특정한 종목의 일자별로 정렬된 상장주식수/외국인한도수량/외국인보유수량/외국인한도소진률 정보를 조회
# 외국인 보유수량 및 한도소진율은 장개시 시점 기준(금융감독원 외국인투자 관리시스템 제공 전일자 확정치)

df = stock.get_exhaustion_rates_of_foreign_investment_by_date("20220108", "20220115", "005930")
print(df.head())

                 상장주식수        보유수량       지분율        한도수량     한도소진률
날짜
2022-01-10  5969782550  3111061474  52.12500  5969782550  52.12500
2022-01-11  5969782550  3113132717  52.15625  5969782550  52.15625
2022-01-12  5969782550  3116356289  52.18750  5969782550  52.18750
2022-01-13  5969782550  3115915421  52.18750  5969782550  52.18750
2022-01-14  5969782550  3116075243  52.18750  5969782550  52.18750

In [ ]:
# 인덱스 조회 API
# get_index_ticker_list() 함수는 코스피 인덱스를 리스트로 반환
tickers = stock.get_index_ticker_list()
print(tickers)

['1001', '1002', '1003', '1004', '1005', '1006', '1007', '1008', '1009', '1010', '1011', '1012', '1013', '1014', '1015', '1016', '1017', '1018', '1019', '1020', '1021', '1022', '1024', '1025', '1026', '1027', '1028', '1034', '1035', '1150', '1151', '1152', '1153', '1154', '1155', '1156', '1157', '1158', '1159', '1160', '1167', '1182', '1224', '1227', '1232', '1244', '1894']

In [ ]:
# 코스닥 인덱스를 조회할 때는 market 옵션을 추가
tickers = stock.get_index_ticker_list(market='KOSDAQ')
print(tickers)

['2001', '2002', '2003', '2004', '2012', '2015', '2024', '2026', '2027', '2029', '2031', '2037', '2041', '2042', '2043', '2056', '2058', '2062', '2063', '2065', '2066', '2067', '2068', '2070', '2072', '2074', '2075', '2077', '2151', '2152', '2153', '2154', '2155', '2156', '2157', '2158', '2159', '2160', '2181', '2182', '2183', '2184', '2203', '2212', '2213', '2214', '2215', '2216', '2217', '2218']

In [ ]:
# get_index_name 함수를 사용해서 티커의 이름

for ticker in stock.get_index_ticker_list():
    print(ticker, stock.get_index_ticker_name(ticker))

1001 코스피
1002 코스피 대형주
1003 코스피 중형주
1004 코스피 소형주
1005 음식료품
1006 섬유의복
1007 종이목재
1008 화학
1009 의약품
1010 비금속광물
1011 철강금속
1012 기계
1013 전기전자
1014 의료정밀
1015 운수장비
1016 유통업
1017 전기가스업
1018 건설업
1019 운수창고업
1020 통신업
1021 금융업
1022 은행
1024 증권
1025 보험
1026 서비스업
1027 제조업
1028 코스피 200
1034 코스피 100
1035 코스피 50
1150 코스피 200 커뮤니케이션서비스
1151 코스피 200 건설
1152 코스피 200 중공업
1153 코스피 200 철강/소재
1154 코스피 200 에너지/화학
1155 코스피 200 정보기술
1156 코스피 200 금융
1157 코스피 200 생활소비재
1158 코스피 200 경기소비재
1159 코스피 200 산업재
1160 코스피 200 헬스케어
1167 코스피 200 중소형주
1182 코스피 200 초대형제외 지수
1224 코스피 200 비중상한 30%
1227 코스피 200 비중상한 25%
1232 코스피 200 비중상한 20%
1244 코스피200제외 코스피지수
1894 코스피 200 TOP 10

In [ ]:
## 인덱스 구성종목 조회

# 인덱스를 구성하고 있는 종목의 티커를 리스트로 반환

pdf = stock.get_index_portfolio_deposit_file("1013")
print(len(pdf), pdf)

60 ['005930', '373220', '000660', '006400', '066570', '009150', '361610', '011070', '034220', '020150', '000990', '272210', '336260', '336370', '001440', '010120', '248070', '353200', '004490', '195870', '097520', '267260', '192650', '009450', '007810', '007340', '025540', '001820', '092220', '298040', '007660', '011690', '011930', '033240', '033180', '029530', '004710', '322000', '005680', '008700', '017900', '006340', '008110', '103590', '009470', '000300', '017040', '019180', '001210', '007610', '000500', '005870', '014910', '009140', '015260', '044380', '011230', '004770', '020760', '019490']

In [ ]:
#  인덱스 OHLCV 조회
# get_index_ohlcv_by_date() 함수는 입력된 기간 동안의 인덱스 OHLCV를 조회

df = stock.get_index_ohlcv_by_date("20210601", "20210701", "1013")
print(df.head())
df

전기전자              시가        고가        저가        종가        거래량           거래대금
날짜
2021-06-01  30151.15  30467.26  30005.75  30284.60  285777706  3013130482590
2021-06-02  30295.93  30509.45  30182.44  30249.67  212243845  3143606016255
2021-06-03  30247.11  31043.57  30247.11  30950.05  491314111  5299110838627
2021-06-04  30940.13  30940.13  30505.70  30792.65  417575114  3886262981630
2021-06-07  30830.22  31041.46  30636.15  30773.79  390617690  3999876683313

전기전자              시가        고가        저가        종가        거래량           거래대금
날짜
2021-06-01  30151.15  30467.26  30005.75  30284.60  285777706  3013130482590
2021-06-02  30295.93  30509.45  30182.44  30249.67  212243845  3143606016255
2021-06-03  30247.11  31043.57  30247.11  30950.05  491314111  5299110838627
2021-06-04  30940.13  30940.13  30505.70  30792.65  417575114  3886262981630
2021-06-07  30830.22  31041.46  30636.15  30773.79  390617690  3999876683313
2021-06-08  30773.15  30880.77  30588.81  30646.31  706548595  4795804523892
2021-06-09  30546.08  30567.66  30214.83  30214.83  483387763  4041239477690
2021-06-10  30218.08  30332.01  30114.09  30207.52  354478021  3943026195616
2021-06-11  30221.10  30576.77  30221.10  30518.08  251485407  3864539909864
2021-06-14  30500.29  30500.29  30318.18  30393.49  134271277  2505403994589
2021-06-15  30413.17  30688.48  30413.17  30609.84  373874551  3262372478935
2021-06-16  30608.97  30893.66  30608.97  30880.75  346278462  3367755468217
2021-06-17  30876.56  30876.56  30418.65  30546.91  390811401  3266789231770
2021-06-18  30555.61  30700.82  30482.91  30524.87  200640784  3427372833310
2021-06-21  30505.63  30505.63  30133.07  30307.43  300260775  3998435757730
2021-06-22  30313.19  30477.76  30275.18  30349.46  466479348  3680912732793
2021-06-23  30349.04  30504.22  30317.38  30414.21  290851227  3611593632096
2021-06-24  30487.67  30893.38  30472.53  30840.31  336091841  4408627600009
2021-06-25  30904.61  31138.12  30891.54  31030.79  252437761  3196514354793
2021-06-28  31059.17  31147.13  30877.18  30978.01  101839990  2472217682705
2021-06-29  31013.34  31080.76  30664.56  30745.04  115520518  2911262345845
2021-06-30  30764.46  31036.58  30764.46  30846.29   91190866  3024632368646
2021-07-01  30859.01  30870.75  30646.03  30680.64   95414744  3064729183327

In [ ]:
# get_index_ohlcv_by_date() 함수에 frequency 파라미터(d/m/y)를 추가 rksmd
# d는 일자, m은 월, y는 연도를 의미

df = stock.get_index_ohlcv_by_date("20220101", "20220211", "1013", "m")
print(df.head())

전기전자              시가        고가        저가        종가         거래량
날짜
2022-01-31  30616.83  30755.41  26755.21  27332.44  1959086884
2022-02-28  27854.08  28598.78  27636.78  28082.99   524954681

In [ ]:
# 인덱스 등락률 조회

#get_index_price_change_by_ticker() 함수는 지수의 등락률/거래량/거래대금을 반환
# KRX / KOSPI / KOSDAQ 세 개의 지수를 지원

df = stock.get_index_price_change_by_ticker("20220101", "20220211", "KOSDAQ")
print(df.head())

                        시가       종가        등락률          거래량             거래대금
지수명
코스닥                1033.98   877.42 -15.140625  31342426350  245645535520782
코스닥 150            1524.21  1229.31 -19.343750   2079983049   72536641803888
코스닥 150 정보기술        928.05   773.49 -16.656250    497792063   17207843636191
코스닥 150 헬스케어       3681.07  2926.33 -20.500000    551848642   19310148409620
코스닥 150 커뮤니케이션서비스  4938.46  3639.82 -26.296875    175396298   16229588142322

In [ ]:
# 공매도 API

# KRX는 (T+2)일 이후의 데이터를 제공
##종목별 공매도 현황
## get_shorting_status_by_date() 메서드는 시작일/종료일/티커 세 개의 파라미터를 입력받아 공매도 현황을 DataFrame으로 반환

df = stock.get_shorting_status_by_date("20220101", "20220211", "005930")
print(df)

                거래량     잔고수량         거래대금          잔고금액
날짜
2022-01-03   227178  1763541  17872332500  138614322600
2022-01-04    89619  2540625   7053322800  199947187500
2022-01-05  1237609  4262523  95484580200  329919280200
2022-01-06   534226  4759850  41162586800  366032465000
2022-01-07   697609  4700706  54373862500  368065279800
2022-01-10   892290  5180841  69189566200  404105598000
2022-01-11   283354  5168206  22266206900  407771453400
2022-01-12   670781  4853899  52960127600  382972631100
2022-01-13   185037  4657613  14515283700  362828052700
2022-01-14   425669  4834247  32953739550  373687293100
2022-01-17   516050  4873907  39876442900  377727792500
2022-01-18   171242  4925126  13210168200  379234702000
2022-01-19   262168  4734863  20039962200  361270046900
2022-01-20   150100  4740315  11457245200  362634097500
2022-01-21   459471  4840455  34552338700  365938398000
2022-01-24   370937  4636081  27901260100  348169683100
2022-01-25   130025  4365829   9602459900  323071346000
2022-01-26   102631  4368827   7571922700  320235019100
2022-01-27   297332  4317598  21426186100  307844737400
2022-01-28   380587  4159910  27673900400  304921403000
2022-02-03   262926  4970787  19510155600  364358687100
2022-02-04    51671  4803233   3824740000  355439242000
2022-02-07   252008  5382322  18325417000  392909506000
2022-02-08   240852  5415712  17717496400  398054832000
2022-02-09   223680  5258457  16649379200  392806737900
2022-02-10   280881  4712639  21155658100  355332980600
2022-02-11   605013  4794109  45385908000  359078764100

In [ ]:
#종목별 공매도 거래 정보
# get_shorting_volume_by_ticker 함수는 입력받은 일자의 공매도 거래량 정보를 반환

df = stock.get_shorting_volume_by_ticker("20220211")
print(df.head(10))

           공매도       매수     비중
티커
095570      34    47887   0.07
006840       8    36427   0.02
027410   16634   113423  14.67
282330   14581    76068  19.17
138930  272353  1817646  14.98
001460       1      524   0.19
001465       0       54   0.00
001040    9098    65051  13.99
079160  128340   508050  25.26
00104K       0     1785   0.00

In [ ]:
# 코스피(KOSPI)/코스닥(KOSDAQ)/코넥스(KONEX)의 공매도 거래량을 조회
# 사용하지 않을 경우 코스피가 선택

df = stock.get_shorting_volume_by_ticker("20220211", "KOSDAQ")
print(df.head())

          공매도     매수         비중
티커
060310      0  42017   0.000000
054620      0  27237   0.000000
265520  11873  59519  19.950001
211270      0  63841   0.000000
032790      0      0   0.000000

In [ ]:
## 조회하려는 증권의 세부 종류를 리스트로 지정 가능
# 리스트에 사용될 수 있는 상세 구분항목(식, ETF, ETN, ELW, 신주인수권증서및증권, 수익증권

df = stock.get_shorting_volume_by_ticker("20220211", include=["주식", "ELW"])
print(df.head())

           공매도       매수     비중
티커
095570      34    47887   0.07
006840       8    36427   0.02
027410   16634   113423  14.67
282330   14581    76068  19.17
138930  272353  1817646  14.98

In [ ]:
## 일자별 공매도 거래 현황
# get_shorting_volume_by_date() 함수는 입력받은 종목에 대해 주어진 기간 동안의 공매도 거래 정보를 반환
df = df = stock.get_shorting_volume_by_date("20220101", "20220211", "005930")
print(df.head(3))
print(df)

                공매도        매수    비중
날짜
2022-01-03   227178  13502112  1.68
2022-01-04    89619  12427416  0.72
2022-01-05  1237609  25470640  4.86
                공매도        매수    비중
날짜
2022-01-03   227178  13502112  1.68
2022-01-04    89619  12427416  0.72
2022-01-05  1237609  25470640  4.86
2022-01-06   534226  12931954  4.13
2022-01-07   697609  15163757  4.60
2022-01-10   892290   9947422  8.97
2022-01-11   283354  13221123  2.14
2022-01-12   670781  11000502  6.10
2022-01-13   185037  13889401  1.33
2022-01-14   425669  10096725  4.22
2022-01-17   516050   8785122  5.87
2022-01-18   171242   9592788  1.79
2022-01-19   262168  10598290  2.47
2022-01-20   150100   9708168  1.55
2022-01-21   459471  15774888  2.91
2022-01-24   370937  13691134  2.71
2022-01-25   130025  17766704  0.73
2022-01-26   102631  12976730  0.79
2022-01-27   297332  22274777  1.33
2022-01-28   380587  21367447  1.78
2022-02-03   262926  17744721  1.48
2022-02-04    51671  12730034  0.41
2022-02-07   252008  14240838  1.77
2022-02-08   240852  11736666  2.05
2022-02-09   223680   9699122  2.31
2022-02-10   280881  17746033  1.58
2022-02-11   605013  12205407  4.96

In [ ]:
## 투자자별 공매도 거래 현황 (거래량)

# get_shorting_investor_volume_by_date 함수는 시작일/종료일 두 개의 파라미터를 입력받아 
# 해당 기간동안 코스피 종목의 투자자별 공매도 거래량을 DataFrame으로 반환

df = stock.get_shorting_investor_volume_by_date("20210101", "20210630", "KOSPI")
print(df.head())
df

                기관  개인  외국인  기타      합계
날짜
2021-01-04  522089   0    0   0  522089
2021-01-05  612363   0    0   0  612363
2021-01-06  437326   0    0   0  437326
2021-01-07  510984   0    0   0  510984
2021-01-08  525053   0    0   0  525053

                 기관      개인      외국인  기타       합계
날짜
2021-01-04   522089       0        0   0   522089
2021-01-05   612363       0        0   0   612363
2021-01-06   437326       0        0   0   437326
2021-01-07   510984       0        0   0   510984
2021-01-08   525053       0        0   0   525053
...             ...     ...      ...  ..      ...
2021-06-24  2890090  195945  6620820   0  9706855
2021-06-25  3013386  250294  5743406   0  9007086
2021-06-28  3101473  224749  5254902   0  8581124
2021-06-29  1939333  197042  5080185   0  7216560
2021-06-30  1784721   99149  5392787   0  7276657

[123 rows x 5 columns]

In [ ]:
## 투자자별 공매도 거래 현황 (거래대금)

# get_shorting_investor_value_by_date 함수는 시작일/종료일 두 개의 파라미터를 입력받아 
# 해당 기간동안 코스피 종목의 투자자별 공매도 거래대금을 DataFrame으로 반환

df = stock.get_shorting_investor_value_by_date("20220101", "20220211", "KOSPI")
print(df.head())
df

                      기관           개인           외국인        기타            합계
날짜
2022-01-03  102152338200   5657554960  215489146140         0  323299039300
2022-01-04  146751888260   9585892310  290174386995         0  446512167565
2022-01-05  323499018115   8124837170  436351597695         0  767975452980
2022-01-06  171415478397  11707247180  498875275935  15620000  682013621512
2022-01-07  148113425559   8240621320  526335124750         0  682689171629

                      기관           개인           외국인        기타            합계
날짜
2022-01-03  102152338200   5657554960  215489146140         0  323299039300
2022-01-04  146751888260   9585892310  290174386995         0  446512167565
2022-01-05  323499018115   8124837170  436351597695         0  767975452980
2022-01-06  171415478397  11707247180  498875275935  15620000  682013621512
2022-01-07  148113425559   8240621320  526335124750         0  682689171629
2022-01-10  214700651101  12128828095  465023584935         0  691853064131
2022-01-11  153607079376  10780184840  351668640995         0  516055905211
2022-01-12  156739400914  19840547580  386235871135         0  562815819629
2022-01-13  281867407861   9654840730  328975409125         0  620497657716
2022-01-14  184435859430  15450009910  458355815048         0  658241684388
2022-01-17  152789008602  10856485360  445713821899         0  609359315861
2022-01-18  141687133008  10466701935  406606856430         0  558760691373
2022-01-19  135544604564  12987963925  447244568530         0  595777137019
2022-01-20   77716379932  10134719585  352997063020         0  440848162537
2022-01-21  137713694655  10411738955  355586165935         0  503711599545
2022-01-24   87031689265   6799273350  350942174035         0  444773136650
2022-01-25  129464189982   7566001595  432236612475         0  569266804052
2022-01-26   84570697180  12076012660  368964265170    369000  465611344010
2022-01-27  133768648293  14145771655  558055606995         0  705970026943
2022-01-28   97019507470  15496267200  544749736915         0  657265511585
2022-02-03  108136316946  10651382355  396515102850         0  515302802151
2022-02-04   83844453396  11331386665  279981256850         0  375157096911
2022-02-07  117463624210   7328791480  348676031335   5945000  473474392025
2022-02-08  143892598464  10827339275  384158594249  12216400  538890748388
2022-02-09   90240643307   9714483180  349177424675         0  449132551162
2022-02-10  200665285367  16407627405  458089876770         0  675162789542
2022-02-11  204546095038  11383107760  463690720860         0  679619923658

In [ ]:
# 코스닥의 공매도 거래량 또한 조회

df = stock.get_shorting_investor_value_by_date("20220101", "20220211", "KOSDAQ")
print(df.head())
df

                     기관          개인           외국인        기타            합계
날짜
2022-01-03  33811667401  3576379270   89395294965         0  126783341636
2022-01-04  41963666532  3321485850  125137971990    316500  170423440872
2022-01-05  50997716840  3212772160  121580864595  21587000  175812940595
2022-01-06  61190583747  4747783850  122502413940  13910750  188454692287
2022-01-07  66976590193  4576323920  110951262895   2550000  182506727008

                     기관          개인           외국인        기타            합계
날짜
2022-01-03  33811667401  3576379270   89395294965         0  126783341636
2022-01-04  41963666532  3321485850  125137971990    316500  170423440872
2022-01-05  50997716840  3212772160  121580864595  21587000  175812940595
2022-01-06  61190583747  4747783850  122502413940  13910750  188454692287
2022-01-07  66976590193  4576323920  110951262895   2550000  182506727008
2022-01-10  59249490417  2550116870   85067204295  15228000  146882039582
2022-01-11  63297304299  3353212660  145012207715  38254000  211700978674
2022-01-12  38606042731  3525583700  123389196440  25650000  165546472871
2022-01-13  77157056089  4118832760  158924594480         0  240200483329
2022-01-14  64858713475  3048922880   94659772610         0  162567408965
2022-01-17  21923724740  3822348080   93576428010         0  119322500830
2022-01-18  38650722681  3897991445   86930085555         0  129478799681
2022-01-19  57039569745  3516960340   99603237575         0  160159767660
2022-01-20  36187846445  4817512910  100056867525         0  141062226880
2022-01-21  49533152947  3862019160  115745112580         0  169140284687
2022-01-24  37035838185  6156021005  134146967365         0  177338826555
2022-01-25  51581622675  6470552290  137554518470         0  195606693435
2022-01-26  41503200312  9211497955  132448129805         0  183162828072
2022-01-27  45645207195  7970486545  173570550335         0  227186244075
2022-01-28  61715658807  6198119920  134513206120         0  202426984847
2022-02-03  43772376318  7491422080  117584412070  10447500  168858657968
2022-02-04  63724407886  5816787380   91164158950         0  160705354216
2022-02-07  74962752667  5089788425  123598724255         0  203651265347
2022-02-08  51468082010  5666670010  125800502250   6015300  182941269570
2022-02-09  48125505195  4480392860   82909205525   6289600  135521393180
2022-02-10  98264265176  3323234920  145709183510   3204500  247299888106
2022-02-11  72729098620  5240468405  102944831645   4296000  180918694670

In [ ]:
## 종목별 공매도 잔고 현황
# get_shorting_balance_by_date 메서드는 시작일/종료일 두 개의 파라미터를 입력받아 
# 해당 기간동안 공매도 잔고 정보를 DataFrame으로 반환

df = stock.get_shorting_balance_by_date("20220101", "20220211", "005930")
print(df.head())

              공매도잔고       상장주식수         공매도금액          시가총액    비중
날짜
2022-01-03  1763541  5969782550  138614322600  4.692249e+14  0.03
2022-01-04  2540625  5969782550  199947187500  4.698219e+14  0.04
2022-01-05  4262523  5969782550  329919280200  4.620612e+14  0.07
2022-01-06  4759850  5969782550  366032465000  4.590763e+14  0.08
2022-01-07  4700706  5969782550  368065279800  4.674340e+14  0.08

In [ ]:
## 공매도 거래비중 상위 50 종목

# get_shorting_trade_top50 메서드는 조회일자를 입력받아 
# 해당일 코스피 종목의 거래 비중 TOP 50을 DataFrame으로 반환 거래 비중은 거래대금/거래대금로 계산
df = stock.get_shorting_volume_top50("20220211")
print(df.head())
df

        순위     공매도거래대금        총거래대금  ...  직전40일공매도평균비중  공매도비중증가율  주가수익률
티커                                   ...
001500   1   462656250   1017549100  ...          1.94     23.45  -0.88
001800   2   693473300   1606996200  ...          6.46      6.67  -1.37
008560   3  3072974700   8336969530  ...         10.89      3.38  -0.81
018670   4   422599500   1253674500  ...          1.46     23.15  -3.70
003670   5  6567451500  20323389500  ...         12.35      2.62   0.00

[5 rows x 9 columns]

        순위      공매도거래대금         총거래대금  ...  직전40일공매도평균비중  공매도비중증가율  주가수익률
티커                                     ...
001500   1    462656250    1017549100  ...          1.94     23.45  -0.88
001800   2    693473300    1606996200  ...          6.46      6.67  -1.37
008560   3   3072974700    8336969530  ...         10.89      3.38  -0.81
018670   4    422599500    1253674500  ...          1.46     23.15  -3.70
003670   5   6567451500   20323389500  ...         12.35      2.62   0.00
084690   6    187892400     615979850  ...          0.93     32.70  -2.66
007310   7    386461000    1329476500  ...         11.01      2.64  -1.20
251270   8  12297897900   44762386900  ...         13.30      2.06  -1.29
361610   9  13246471000   48771497000  ...         14.97      1.81  -5.79
023530  10   2193862800    8091690700  ...         14.99      1.81  -0.58
105560  11  34541721700  128454974669  ...          7.84      3.43   0.46
049770  12    298242000    1171506000  ...         10.39      2.45  -2.69
005440  13    423451980    1664483680  ...          8.16      3.12  -1.20
079160  14   3161922100   12571795400  ...         12.13      2.07   0.20
020150  15   6673247100   27017043600  ...         10.94      2.26  -1.14
139480  16   4089291500   17069165500  ...          7.61      3.15  -3.90
008490  17     77553250     327663600  ...          1.18     20.12  -0.25
001630  18     98303000     424273300  ...          1.04     22.36  -0.29
069260  19    692387900    3245538550  ...          5.37      3.97  -2.46
259960  20  68977613000  324171781500  ...         11.74      1.81 -12.79
039490  21    984720300    4661945200  ...          7.86      2.69  -0.62
023590  22    192441300     928153700  ...          0.69     29.90  -2.58
008770  23   8038072400   39141087500  ...         21.75      0.94  -1.25
302440  24  19690220000   96225309500  ...         10.14      2.02  -4.00
000670  25     71302000     349759000  ...          9.23      2.21   0.15
112610  26   1721815800    8446906100  ...         10.59      1.93  -2.38
012750  27    658445900    3248283300  ...         11.14      1.82  -0.29
352820  28   9386564500   46763572000  ...          6.70      3.00  -1.18
090430  29  15828358500   80584019500  ...         17.56      1.12  -1.96
207940  30   9131308000   46562075000  ...         12.76      1.54  -2.83
001680  31    573895050    2992082750  ...          5.54      3.46  -1.31
377300  32   7690490500   40182544500  ...         11.85      1.61  -1.17
282330  33   2448719500   12850271000  ...         14.93      1.28  -1.18
000070  34    323463300    1700839900  ...          6.99      2.72  -2.11
034020  35  12052746700   63966513550  ...         13.14      1.43  -0.29
003520  36    943496695    5010054975  ...         11.56      1.63  -5.29
323410  37  17466541400   94331604950  ...         16.15      1.15  -1.52
326030  38   3489398400   18973421500  ...          8.91      2.06  -3.29
000720  39   2620829850   14697018450  ...          8.61      2.07  -2.31
271560  40    843546000    4758098000  ...          4.26      4.16  -0.98
006120  41    109258200     628968800  ...          5.63      3.08  -1.69
006800  42   1748022640   10204821420  ...          7.75      2.21   0.00
005830  43   2012479200   11865006700  ...         14.06      1.21   0.15
161390  44   1054828200    6240432450  ...          9.01      1.88   0.00
000810  45   2396178000   14238090000  ...         11.32      1.49  -0.92
000100  46   1098199400    6576154500  ...          7.50      2.23   0.17
097950  47   1697582000   10177777000  ...          8.13      2.05  -1.83
000240  48    101872650     617164250  ...          2.94      5.61  -0.36
010140  49   2148669250   13096876250  ...         10.30      1.59  -2.84
003550  50   7878797400   48414332100  ...          1.35     12.09  -3.60

[50 rows x 9 columns]

In [ ]:
# 코스닥의 공매도 거래량 또한 조회

df = stock.get_shorting_volume_top50("20220211", "KOSDAQ")
print(df.head())

        순위     공매도거래대금        총거래대금  ...  직전40일공매도평균비중  공매도비중증가율  주가수익률
티커                                   ...
030190   1   514332650   1470297250  ...         11.68      3.00  -2.44
086900   2   964727200   3445978800  ...         12.71      2.20  -2.79
140860   3   410623700   1477284200  ...         10.15      2.74  -2.48
022100   4   442779880   1650821370  ...         12.17      2.20  -1.19
091990   5  7549052200  29979903800  ...         12.07      2.09  -3.06

[5 rows x 9 columns]

In [ ]:
## 종목별 공매도 잔고 TOP 50
# get_shorting_balance_top50 메서드는 조회 일자를 입력받아 
# 공매도 비중이 높은 상위 50개 종목 정보를 반환 공매비중은 공매도 잔고/상장주식수로 계산
df = stock.get_shorting_balance_top50("20220211")
print(df.head())

        순위    공매도잔고      상장주식수         공매도금액          시가총액        비중
티커
032350   1  5632656   69275662   99416378400  1.222715e+12  8.132812
008770   2  2672065   39248121  210558722000  3.092752e+12  6.808594
336260   3  3078701   65493726  109909625700  2.338126e+12  4.699219
011780   4  1324373   30295844  215210612500  4.923075e+12  4.371094
064350   5  4576268  109142293   86262651800  2.057332e+12  4.191406

In [ ]:
# 코스닥 또한 거래량을 조회
df = stock.get_shorting_balance_top50("20220211", market="KOSDAQ")
print(df.head())

        순위    공매도잔고      상장주식수         공매도금액          시가총액        비중
티커
222080   1  4247308   61437486   57763388800  8.355498e+11  6.910156
048410   2  2594327   38676820   74846333950  1.115826e+12  6.710938
215600   3  6511339  102867125   78787201900  1.244692e+12  6.328125
032500   4  2285151   39820883   71867998950  1.252367e+12  5.738281
028300   5  5607406  106610064  172988475100  3.288920e+12  5.261719