# 파이썬 기초 -(변수, 문자열, 튜플, 리스트, 딕셔너리.. etc)

In [ ]:
print("hello wolrd")

hello wolrd

In [ ]:
10*20

200

In [ ]:
# 변수의 유의사항
# _나 영문자로 시작해야 한다.
# 숫자로 시작할 수 없다.
# 특수문자를 사용할 수 없다.
# 공백이 존재하면 안된다
# 예약어는 사용할 수 없다.

In [ ]:
a=10
b="test"
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [ ]:
a=b=c=10
d, e, f=10,3.14, "test"
print(a, b, c)
print(d,e,f)

10 10 10
10 3.14 test

In [ ]:
a=0xFFF
b=0o77
c=0b11011
print(a,b,c)

4095 63 27

In [ ]:
# 문자형은 문자의 집합을 의미
# 문자열은 큰따옴표 또는 작은따옴표로 감싸서 표시

In [ ]:
# bool 형은 True, False 의 2가지의 값만 존재한다.
a= True
type(a)

b=(100>10)
c=(100<10)
d=(100==100)
print(b,c,d)

True False True

In [ ]:
# = 대입 연산자
# + 덧셈
#- 뺄셈
# * 곱셈
# / 나눗셈
# // 나눗셈(몫)
# % 나머지 값
# ** 제곱

# 연산자가 여러 개일 경우에는 일반적인 사칙연산과 마찬가지로 우선 순위를 잡아서 계산한다.

a=7
b=3
print(a+b,a-b, a*b, a/b, a//b, a%b , a**b)

10 4 21 2.3333333333333335 2 1 343

In [ ]:
a="hello"
b="world"
print(a+b)

helloworld

In [ ]:
# 대입 연산자
a=1
b=2
a+=5
print(a)

6

In [ ]:
# 관계 연산자
# == 같다
# != 같지 않다
a=10
b=20
print(a==b, a!=b, a>b, a<b, a<=b, a>=b)

False True False True True False

In [ ]:
# 논리 연산자
# and, or, not
a=25
(a>30) and (a<50)
(a>30) and (a<50)
not(a==30)

True

In [ ]:
# 조건문
a=5
if a < 10:
  print("a는 10보다 작다")

a는 10보다 작다

In [ ]:
a=20
if a<10:
  print("a는 10보다 작습니다.")
else:
  print("a는 10보다 큽니다")

a는 10보다 큽니다

In [ ]:
score=int(input("점수를 입력하세요: "))
if score >=90:
  print("A학점")
elif score >=80:
  print("B학점")
elif score >=70:
  print("C학점")
elif score >=60:
  print("D학점")
else:
  print("F학점")

점수를 입력하세요: 90
A학점

In [ ]:
# 반복문
# for문
# 주로 0부터 시작한다.
for i  in range(0, 5,1):
  print("모두 할 수 있다!")

모두 할 수 있다!
모두 할 수 있다!
모두 할 수 있다!
모두 할 수 있다!
모두 할 수 있다!

In [ ]:
for i in range(0,5,1):
  print("%d 번째 반복입니다." % i)

0 번째 반복입니다.
1 번째 반복입니다.
2 번째 반복입니다.
3 번째 반복입니다.
4 번째 반복입니다.

In [ ]:
a=0
for i in range(1,11,1):
  a=a+i
print(a)

55

In [ ]:
# 다중 for 문
for i in range(2,10,1):
  for j in range(1,10,1):
    print("%d * %d = %d" % (i,j, i*j))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
# while 문
sum =0
i=1
while i<11:
  sum+=i
  i+=1
print("1에서 10까지의 합은 %d" % sum)

1에서 10까지의 합은 55

In [ ]:
# while 문에서 조심해야할 점은 조건식 부분에 True 가 들어가게 되면 무한 반복이 된다.

In [ ]:
# break 문
# 반복문에서 반복이 되는 도중에 빠져 나가는 break 문이 있다.
for i in range(1,100,1):
  print("%d번째 반복" %i)
  if i==5:
    break;

1번째 반복
2번째 반복
3번째 반복
4번째 반복
5번째 반복

In [ ]:
sum=0
i=0

for i in range(1,100,1):
  sum+=i
  if sum>=500:
    break
print("합계가 500 이상이 되는 범위의 숫자는: %d" % i)

합계가 500 이상이 되는 범위의 숫자는: 32

In [ ]:
# continue 문
for i in range(1,10,1):
  if i<=2:
    continue
  print("%d 번째 반복" % i)

3 번째 반복
4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [ ]:
# 튜플: 소괄호로 표시한다.
a=(10,20,30,40,50)
b=60
c = a+b 
# 튜플은 값을 수정 할 수 없다. 튜플은 읽기 전용이다.
print(c)
print(a[0:5])

TypeError: ignored

In [ ]:
a=(10,20,30,40,50)
print(a[0:5])

(10, 20, 30, 40, 50)

In [ ]:
# 리스트: 대괄호 안에 요소들을 저장하며 0개 이상 이면 가능
a=[1,2,3,4,5]
print(a)
print(a[0:3])

[1, 2, 3, 4, 5]
[1, 2, 3]

In [ ]:
a=[1,2,3,4,5]
a.append(7)
print(len(a))
print(a)

6
[1, 2, 3, 4, 5, 7]

In [ ]:
a = [800,30,40,50,60]
b= [10,70,80]
a.sort()
b.reverse()
print(a)
print(b)

del a[1]
print(a)
print(b)

[30, 40, 50, 60, 800]
[80, 70, 10]
[30, 50, 60, 800]
[80, 70, 10]

In [ ]:
# 2차원 리스트
a=[[10,20], [30,40], [50,60]]
print(a)
print(a[0])
print(a[0][1])

[[10, 20], [30, 40], [50, 60]]
[10, 20]
20

In [ ]:
# for문으로 2차원 리스트 출력
a = [[10, 20], [30, 40], [50, 60]]
 
for i in range(0,len(a), 1):
  print(a[i][0])

10
30
50

In [ ]:
b=[]
for i in range(0, len(a), 1):
  b.insert(i, a[i][0])
print(b)

[10, 30, 50]

In [ ]:
# 딕셔너리 : 중괄호 안에 key값과 value  값이 정해져 있음
a={"name":"이정환", "age":26, "phone":"010-0000-0000"}

print(a)
print(a["name"])

a["area"] = "Seoul"

print(a)

{'name': '이정환', 'age': 26, 'phone': '010-0000-0000'}
이정환
{'name': '이정환', 'age': 26, 'phone': '010-0000-0000', 'area': 'Seoul'}

In [ ]:
list(a.keys())
a.values()
a.items()

dict_items([('name', '이정환'), ('age', 26), ('phone', '010-0000-0000'), ('area', 'Seoul')])

In [ ]:
# 문자열 함수
# len(): 문자열의 길이를 출력
# upper(): 문자를 모두 대문자로 변환
# lower(): 문자를 모두 소문자로 변환
# swapcase(): 대문자를 소문자로 , 소문자를 대문자로 변환
# title(): 단어의 첫 문자만 대문자로 변환

a="Hello"
print(a.upper())
print(a.lower())
print(a.swapcase())
print(a.title())

HELLO
hello
hELLO
Hello

In [ ]:
a = "Hello world"

# count(): 문자열의 개수 출력
# find(): 문자열 앞부터 시작하여 처음으로 나온 위치를 출력
# index(): find와 가팅 위치를 출력하지만 찾는 단어가 없을 시 에러 발생


print(a.count("O"))
a.find("r")
a.index("r")

0

8

In [ ]:
# isrip(): 문자열 왼쪽의 공백을 지운다.
# rstrip(): 문자열 오른쪽의 공백을 지운다.
# strip(): 문자열 양쪽의 공백을 지운다.

a = "     Hello world"
print(a.lstrip())
print(a.rstrip())
print(a.strip())

Hello world
     Hello world
Hello world

In [ ]:
# replace() : 문자열 안의 특정한 값을 다른 값으로 치환한다.
# split() : 문자열을 괄호 안에 값으로 구분하여 나누어준다.(괄호 안이 값을 넣지 않으면 공백을 기준으로 한다.)

a = "Hello world"

a.replace("Hello", "HI")
a.split()
print(a.split())

b="a,b,c,d"
b.split(",")

['Hello', 'world']

['a', 'b', 'c', 'd']

In [ ]:

b="a,b,c,d"
print()