# 파이썬 기초 복습-1

In [2]:
input_one= "Hello World"
input_one=1234
print(input_one)

1234

In [3]:
# 튜플 소괄호로 묶는다.
# 가장 기본적인 리스트의 형태
# 데이터의 수정이 불가

tuple_num=(1,2,3,4,5)
print(tuple_num)
print(tuple_num[2])

(1, 2, 3, 4, 5)
3

In [4]:
tuple_num_2=((1,2,3), (4,5,6))
print(tuple_num_2)
# 5라는 숫자만 출력
print(tuple_num_2[1][1])

print(tuple_num_2[1]) # 4, 5, 6 출력

((1, 2, 3), (4, 5, 6))
5
(4, 5, 6)

In [5]:
# 리스트는 대괄호로 묶어 준다.
# 리스트와 튜플의 차이는-> 데이터의 수정이 가능 유무
list_num=[1,2,3,4,5]
print(list_num)

print(list_num[2])

[1, 2, 3, 4, 5]
3

In [6]:
# 딕셔너리는 중괄호로 묶어준다.
# {'key1': 'value', 'key2':'value'}
"""sumary_line"""

dict_num={"이름": "이정환", "전화번호": "010-3230-0185", "성별":"남"}
print(dict_num["이름"])

이정환

In [7]:
# 조건문 if 조건식:
a=10
if a>8:
    print("a는 8보다 큽니다.") # 조건식이 참일 경우 실행됨
else:
    print("a는 8보다 작습니다.") # 조건식이 거짓일 경우 실행됨

a는 8보다 큽니다.

In [8]:
b=""
if b:
    print("결측치가 없습니다.")
else:
    print("결측치가 존재합니다.")

결측치가 존재합니다.

In [9]:
# 반복문( for문, while문
for i in range(1,10,1):
    print("%d 번째 반복" % i) #%d -> 정수, %s -> 문자열형, %f -> 실수형

1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [10]:
dict_list = [{"name" : "test1", "password":"1234"},
            {"name" : "test2", "password":"1234"},{"name" : "test3", "password":"1234"}]
for list in dict_list:
    print(list)

{'name': 'test1', 'password': '1234'}
{'name': 'test2', 'password': '1234'}
{'name': 'test3', 'password': '1234'}

In [11]:
for i in range(len(dict_list)):
    print(dict_list)

[{'name': 'test1', 'password': '1234'}, {'name': 'test2', 'password': '1234'}, {'name': 'test3', 'password': '1234'}]
[{'name': 'test1', 'password': '1234'}, {'name': 'test2', 'password': '1234'}, {'name': 'test3', 'password': '1234'}]
[{'name': 'test1', 'password': '1234'}, {'name': 'test2', 'password': '1234'}, {'name': 'test3', 'password': '1234'}]

In [12]:
dict_list = [{"name" : "test1", "password":"1234"},
            {"name" : "test2", "password":"1234"},{"name" : "test3", "password":"1234"}]
i=0
while i<len(dict_list):
    print(dict_list[i])
    i+=1

{'name': 'test1', 'password': '1234'}
{'name': 'test2', 'password': '1234'}
{'name': 'test3', 'password': '1234'}

In [13]:
# 함수 def 함수명(매개변수 매개변수):
# 함수를 호출-> 함수명(인자, 인자)
# 함수를 만들어 봅시다. -> 함수를 호출 ->  dict_list print-> 
# 인자값에 키값을 넣어주고 -> 그 키 값에 해당하는 값만 출력 되도록

def func_1(input_key):
    for list in dict_list:
        print(list[input_key])
func_1("name") # -> def func_1("name") -> print(list["name"])

test1
test2
test3

In [14]:
def func_1(input_key):
    for i in range(0, len(dict_list), 1):
        print(dict_list[i][input_key])
func_1("name") # -> def func_1("name") -> print(list["name"])

test1
test2
test3

In [15]:

# while 문으로 함수 만들기
def func_2(list,input_key):
    num=0
    while num <len(list):
        print(dict_list[num][input_key])
        num+=1
func_2(dict_list,"name")

test1
test2
test3

In [16]:
def func_3():
    return "Hello"
print(func_3())

Hello

In [17]:
def func_4(input_a, input_b):
    result=input_a+input_b
    return result
print(func_4(5,6))

11

In [18]:
# 두개의 함수 만들어 주기
def func_5():
    a=10
    def func_6():
        print(a)
    func_6()
func_5()

10

In [19]:
# 함수를 생성-> 매개변수 3개 -> def 함수(a,b,c): 함수 안에 함수를 하나 더 생성-> 
# 함수 1 a+b 함수 2-> a+b더해준 값에 c를 빼주는 함수 만들기
# 들여쓰기 할 경우 지역변수가 한번 더 사용 될 수 있다.
def func_7(a,b,c):
    sum=a+b
    def func_8():
      
      sum2=sum-c
      return sum2
    print(func_8())
    
    
func_7(1,5,3)

3

In [20]:
 # 함수에서 다른 함수 호출하기
 
def func_9(input_a, input_b):
    sum = input_a + input_b
    return sum
def func_10(input_a, input_b, input_c):
    sum_2 = func_9(input_a, input_b)
    result= sum_2 - input_c
    return result
func_10(1,2,3)

0

In [21]:
# 함수 3개 생성
# 함수1 -> 두 수의 합을 출력
# 함수2 -> 두 수의 차를 출력
# 함수3 -> def 함수3(a,b,c): c의 값이 "S"면 함수 (a,b) 값 출력
# c의 값이 "D"이면 함수 2의 (a,b) 호출
def func_11(a,b):
    result_1=a+b
    return result_1
def func_12(c,d):
    result_2=c-d
    return result_2
def func_13(e,f,g):
    if g == "S":
        result_3=func_11(e,f)
        return result_3
        
    elif g == "D":
       result_4=func_12(e,f)
       return result_4
    else:
        return "Not Matched"
        
print(func_13(1,2,"S"))

3

In [23]:
# 함수 -> 입력 2개 a~b, c="짝수", "홀수"



def func_15(a,b,c):
    if c % 2 ==0 :
    
      result= for i in range(a,b,2):
            print(i)
        return result
        
    else:
        return result
print(func_15(1,5,3))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 10)

In [ ]:
d=[]
def func_14(a,b):
    for i in range(a,b+1,1):
        if i % 2 == 0:
            d.append(i)
def func_15(a,b):
    for i in range(a,b+1,1):
        if i % 2 == 1:
            d.append(i)
    print(d)
def func_16(a,b,c):
    if c == "짝수":
        func_14(a,b)
    elif c == "홀수":
        func_15(a,b)
func_16(1,10,"홀수")

[1, 3, 5, 7, 9]

In [ ]:
# 홀수 짝수 에 따라 리스트 형식으로 결과 값 만들기

a=[] # 전역변수
def func_14(input_a, input_b):
    for i in range(input_a, input_b+1, 1):        
        if i % 2 == 0:
            a.append(i)
def func_15(input_a, input_b):
    for i in range(input_a, input_b+1, 1):
        if i % 2 == 1:
            a.append(i)
    print(a)
    
def func_16(input_a, input_b, input_c):
    if input_c =="짝수":
         func_14(input_a,input_b)
    elif input_c=="홀수":
         func_15(input_a,input_b)
func_16(1,10,"홀수")

[1, 3, 5, 7, 9]

In [ ]:
import pandas as pd

# index, column, value 지정-> pd.DataFrame(value, index="index", column='column')

df_1={"A":['a','b','c'], "B":["a","b","C"]}
pd.DataFrame(df_1)

   A  B
0  a  a
1  b  b
2  c  C

In [24]:
import pandas as pd
df_2=pd.DataFrame(["a","b","c"], columns=["A","B","C"])
df_2

ValueError: Shape of passed values is (3, 1), indices imply (3, 3)

In [ ]:
df_1['B']=["A","B","C"]
df_1

   A  B
0  a  A
1  b  B
2  c  C

In [ ]:
df_1["B"]=[1,2,3]
df_1

   A  B
0  a  1
1  b  2
2  c  3

In [ ]:
#리스트로 하지 않을 경우 모두 바뀐다.
df_1["B"]="A"
df_1

   A  B
0  a  A
1  b  A
2  c  A

In [ ]:
df_1.A
df_1["A"]

0    a
1    b
2    c
Name: A, dtype: object

In [ ]:
# 칼럼 값 변경
df_1.columns = ["a","b"]
df_1

   a  b
0  a  A
1  b  A
2  c  A

In [ ]:
values=[["test1", "20000"],["test2", "30000"],["test3", "10000"]]
columns = ["name", "salary"]

df_2=pd.DataFrame(values, columns=columns)
df_2

    name salary
0  test1  20000
1  test2  30000
2  test3  10000

In [ ]:
# 오름 차순
df_2.sort_values("salary")

    name salary
2  test3  10000
0  test1  20000
1  test2  30000

In [ ]:
# 내림 차순
df_2.sort_values("salary", ascending=False)

    name salary
1  test2  30000
0  test1  20000
2  test3  10000

In [ ]:
# 인덱스 내림 차순
df_2.sort_index(ascending=False)

    name salary
2  test3  10000
1  test2  30000
0  test1  20000

In [ ]:
# 데이터 프레임 복사하기
df_3=df_2.copy()

In [ ]:
df_4 = df_3.drop(["name"], axis=1)  # 0으로 적으면 행을 삭제 1이면 열을 삭제
df_4

  salary
0  20000
1  30000
2  10000

In [ ]:
df_5 = df_3.drop([0], axis=0) # 행 삭제
df_5

    name salary
1  test2  30000
2  test3  10000

In [ ]:
# csv 파일 만들기
df_5.to_csv('test.csv', encoding="utf-8")