# 판다스 기초 복습 -2

In [2]:
for i in  range(6):
    for j in range(6):
        print(i,j)

0 0
0 1
0 2
0 3
0 4
0 5
1 0
1 1
1 2
1 3
1 4
1 5
2 0
2 1
2 2
2 3
2 4
2 5
3 0
3 1
3 2
3 3
3 4
3 5
4 0
4 1
4 2
4 3
4 4
4 5
5 0
5 1
5 2
5 3
5 4
5 5

In [3]:
# while 문
# 변수 = 시작 값
# while 변수 < 종료깂:
    # 반복 실행할 콛,
    # 변수 = 변수 + 증가값

In [5]:
a= (1,2,3,4,5)
b=[1,2,3,4,5]
c={"name":"test", "age": 20}

print(a[1])
print(b[2])
print(c["name"])

2
3
test

In [27]:
# numpy로 첫번째열 조건에 따라 값 변경
import numpy as np

n_a = np.random.random((10,2))
for i in range(len(n_a)):
    if n_a[i][1] > 0.5:
        n_a[i][1] = 1
    else:
        n_a[i][1]=0
n_a

array([[0.79222749, 1.        ],
       [0.20580221, 0.        ],
       [0.02224292, 0.        ],
       [0.03393261, 1.        ],
       [0.32795781, 0.        ],
       [0.03412524, 0.        ],
       [0.39413721, 0.        ],
       [0.50306169, 1.        ],
       [0.97430045, 0.        ],
       [0.64086849, 0.        ]])

In [30]:
import pandas as pd
dt=pd.DataFrame(n_a)
dt[1]=int(round(0))
dt[1]

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: 1, dtype: int64

In [26]:
# 판다스로 첫번째열 조건에 따라 값 변경
import pandas as pd
dt=pd.DataFrame(n_a)
dt[1]=dt[1].apply(lambda x:1 if (x>0.5) else 0)
dt

          0  1
0  0.286309  0
1  0.633996  1
2  0.889886  0
3  0.496708  0
4  0.770909  0
5  0.626756  0
6  0.865660  1
7  0.382700  1
8  0.524485  1
9  0.006420  1

In [31]:
def _round(x):
    if x>0.5:
        return 1
    else:
        return 0
dt[1].apply(_round)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: 1, dtype: int64

In [ ]:
# 클래스 다중 상속
class Class_1():
    def a(self):
        print("Class_1")
class Class_2():
    def b(self):
        print("Class_2")
class Class_3(Class_2, Class_1):
    def c(self):
        print("Class_3")
x = Class_3()